@charset "UTF-8";
.clearfix:after, .clearfix:before {
    content: '';
    display: table;
    font: 0/0 a
}

.clearfix:after {
    clear: both
}

.ui-select-button, .ui-select-li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: normal
}

.fixed-contact-v, .fixed-content .email-layer .tab-content .email-address, .fixed-content .email-layer .tab-content .job-pos, .ui-table td {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal
}

.fixed-contact .backtop:before, .fixed-content .backtop:before {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.top-notice {
    font-size: 16px;
    color: #ba9c6d;
    background-color: #fffbea;
    padding: 14px 24px
}

.top-notice .ico-info {
    width: 22px;
    height: 23px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 12px;
    background-image: url('../other/5nOZbY9vg9INUMvvVnM1RfgYLeOb4Vwhhy3UFd6hYpeiRiU3YJxjlm3pMLjTa+NfgAEAitFWULQvOVAAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.mod-topbar-item:hover {
    color: #de373e
}

.mod-topbar {
    color: #878787;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    position: relative;
    z-index: 1
}

.mod-topbar a {
    color: #878787
}

.mod-topbar .layout {
    height: 100%
}

.mod-topbar-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    cursor: pointer
}

.mod-topbar-links {
    float: left
}

.mod-topbar-links a {
    padding: 0 10px;
    line-height: 1;
    vertical-align: inherit
}

.mod-topbar-right {
    float: right;
    height: 30px
}

.mod-topbar-right .search .close {
    display: none;
    vertical-align: top;
    margin-top: 10px;
    width: 11px;
    height: 11px;
    background-image: url('../images/del3-icon.png');
    background-repeat: no-repeat
}

.mod-topbar-right .search.active .close {
    display: inline-block
}

.mod-topbar-right .search.active .ui-search {
    display: inline-block
}

.mod-topbar-right .search.active .btn {
    display: none
}

.mod-topbar-right .user {
    height: 30px;
    border: 1px solid transparent;
    border-top: none;
    position: relative
}

.mod-topbar-right .user .dropdown {
    position: absolute;
    top: 30px;
    left: -1px;
    width: 100%;
    background: #fff;
    text-indent: 1em;
    border: 1px solid #ebebeb;
    border-top: none;
    display: none
}

.mod-topbar-right .user:hover {
    height: auto;
    background-color: #fff;
    border-color: #ebebeb
}

.mod-topbar-right .user:hover .name i {
    top: -1px;
    height: 0;
    width: 0;
    border-radius: 3px;
    border-bottom: 5px solid #8e8e8e;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-top: none
}

.mod-topbar-right .user:hover .name i:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.mod-topbar-right .user:hover .name i:after {
    left: -5px;
    top: 2px;
    border-bottom: 5px solid #f5f5f5;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent
}

.mod-topbar-right .user:hover .name i:after {
    border-top: none
}

.mod-topbar-right .user:hover .dropdown {
    display: block
}

.mod-topbar-right .name {
    color: #323232
}

.mod-topbar-right .name i {
    display: inline-block;
    position: relative;
    margin-left: 2px;
    height: 0;
    width: 0;
    border-radius: 3px;
    border-top: 5px solid #8e8e8e;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent
}

.mod-topbar-right .name i:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.mod-topbar-right .name i:after {
    left: -5px;
    bottom: 2px;
    border-top: 5px solid #f5f5f5;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent
}

.mod-topbar-right .msg em {
    background-color: #de373e;
    color: #fff;
    padding: 1px 3px;
    border-radius: 4px;
    margin-left: 4px;
    line-height: 1;
    display: inline-block;
    font-family: 宋体, SimSun
}

.mod-topbar .ui-search {
    font-size: 12px;
    padding-right: 10px;
    margin-bottom: 4px;
    display: none
}

.mod-topbar .ui-search input {
    height: 22px;
    line-height: 22px;
    padding: 0;
    margin: 0
}

.mod-topbar .ui-search-btn {
    border-width: 3px;
    width: 14px;
    height: 14px;
    top: 1px;
    right: 1px;
    background-size: 14px
}

.mod-topbar .placeholder-wrap .placeholder {
    height: 22px;
    line-height: 22px
}

.mod-header {
    padding: 16px 0;
    background-color: #f8f8f8
}

.mod-header-logo {
    float: left
}

.mod-header-logo img {
    display: block
}

.mod-header-slogan {
    font-size: 14px;
    float: right;
    color: #b2b2b2;
    padding-top: 7px
}

.mod-header-slogan .item {
    padding: 0 15px;
    position: relative
}

.mod-header-slogan .item:before {
    content: '';
    display: inline-block;
    width: 22px;
    margin-right: 10px;
    vertical-align: top
}

.mod-header-slogan .item:after {
    border: 1px solid #ededed;
    width: 0;
    height: 16px;
    content: '';
    position: absolute;
    top: 1px;
    right: 0
}

.mod-header-slogan .item-1:before {
    height: 24px;
    background-image: url(../images/sprite-mod-header-v2.png);
    background-position: 0 0
}

.mod-header-slogan .item-2:before {
    width: 20px;
    height: 23px;
    background-image: url(../images/sprite-mod-header-v2.png);
    background-position: -52px 0
}

.mod-header-slogan .item-3:before {
    height: 22px;
    background-image: url(../images/sprite-mod-header-v2.png);
    background-position: -26px 0
}

.mod-header-slogan .item-3:after {
    display: none
}

.mod-nav {
    background-color: #de373e;
    position: relative;
    z-index: 10;
    font-size: 16px
}

.mod-nav-item {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    vertical-align: top;
    padding: 0 24px
}

.mod-nav-item.cur, .mod-nav-item:hover {
    background-color: #b32d31;
    color: #fff
}

.mod-nav-menu {
    width: 215px;
    background-color: #cc333b;
    font-size: 14px;
    position: relative;
    line-height: 1;
    padding: 0;
    margin-right: 26px
}

.mod-nav-menu .mod-nav-list {
    display: none
}

.mod-nav-menu:hover .mod-nav-list {
    display: block
}

.mod-nav-menu:hover .arrow {
    border-bottom: 7px solid #fff;
    border-top-color: transparent;
    top: 11px
}

.mod-nav-menu:hover .arrow:after {
    border-bottom: 7px solid #b32d31;
    border-top-color: transparent;
    bottom: -10px
}

.mod-nav-tit {
    font-size: 16px;
    padding-left: 17px;
    line-height: 40px;
    position: relative
}

.mod-nav-tit:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-right: 12px;
    background-image: url('');
    background-repeat: no-repeat
}

.mod-nav-tit .arrow {
    position: absolute;
    top: 18px;
    right: 20px;
    height: 0;
    width: 0;
    border-radius: 3px;
    border-top: 7px solid #fff;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent
}

.mod-nav-tit .arrow:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.mod-nav-tit .arrow:after {
    left: -7px;
    bottom: 3px;
    border-top: 7px solid #cc333b;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent
}

.mod-nav-list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%
}

.mod-nav-list li.active {
    background-color: #fff
}

.mod-nav-list li.active .mod-nav-row {
    background-color: #fff;
    border-left-color: #de373e
}

.mod-nav-list li.active .mod-nav-row a {
    color: #323232
}

.mod-nav-list li.active .mod-nav-row a:hover {
    color: #de373e
}

.mod-nav-list li.active .mod-nav-row.last {
    border-bottom-color: #de373e
}

.mod-nav-list li.active .mod-nav-submenu {
    display: block
}

.mod-nav-row {
    padding: 28px 0 29px 16px;
    line-height: 1;
    background-color: #454444;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #585858;
    border-left: 1px solid #454444
}

.mod-nav-row a {
    margin-right: 6px;
    color: #fff
}

.mod-nav-submenu {
    position: absolute;
    top: -1px;
    left: 215px;
    width: 500px;
    padding: 28px;
    background-color: #fff;
    border: 1px solid #de373e;
    border-left: none;
    display: none;
    box-sizing: border-box;
    height: 433px
}

.mod-nav-submenu li {
    padding: 12px 0 0;
    margin-right: 30px;
    float: left
}

.mod-nav-submenu li a {
    color: #323232
}

.mod-nav-submenu li a:hover {
    color: #de373e
}

.mod-nav-submenu ul {
    padding-bottom: 36px;
    overflow: hidden
}

.mod-nav-topcate {
    font-size: 16px;
    color: #de373e;
    padding-bottom: 12px;
    border-bottom: 1px solid #ededed
}

.mod-nav.always .mod-nav-list {
    display: block
}

.mod-nav.always .arrow {
    display: none
}

.mod-nav.always .mod-nav-menu:hover {
    background-color: #cc333b
}

.mod-footer-prom {
    background: #fff;
    border-top: 1px solid #e2e2e2;
    padding: 28px 0;
    width: 100%
}

.mod-footer-prom .prom-icon {
    display: inline-block;
    vertical-align: middle
}

.mod-footer-prom .prom-icon.prom-icon-qt:before {
    content: "";
    display: inline-block;
    width: 47px;
    height: 54px;
    background-image: url(../images/sprite-f980a6bf4a.mod.footer-prom.png);
    background-position: 0 0
}

.mod-footer-prom .prom-icon.prom-icon-sp:before {
    content: "";
    display: inline-block;
    width: 43px;
    height: 47px;
    background-image: url(../images/sprite-f980a6bf4a.mod.footer-prom.png);
    background-position: -51px -58px
}

.mod-footer-prom .prom-icon.prom-icon-gt:before {
    content: "";
    display: inline-block;
    width: 47px;
    height: 47px;
    background-image: url(../images/sprite-f980a6bf4a.mod.footer-prom.png);
    background-position: -102px 0
}

.mod-footer-prom.dark-theme {
    background: #454444;
    border: none;
    color: #fff
}

.mod-footer-prom.dark-theme .prom-icon.prom-icon-qt:before {
    background-image: url(../images/sprite-f980a6bf4a.mod.footer-prom.png);
    background-position: -51px 0
}

.mod-footer-prom.dark-theme .prom-icon.prom-icon-sp:before {
    content: "";
    display: inline-block;
    width: 43px;
    height: 46px;
    background-image: url(../images/sprite-f980a6bf4a.mod.footer-prom.png);
    background-position: -98px -58px
}

.mod-footer-prom.dark-theme .prom-icon.prom-icon-gt:before {
    background-image: url(../images/sprite-f980a6bf4a.mod.footer-prom.png);
    background-position: 0 -58px
}

.mod-footer-prom.dark-theme .prom-title {
    color: #cdcdcd
}

.mod-footer-prom.dark-theme .prom-ad {
    color: #9e9e9e
}

.mod-footer-prom-list {
    padding: 0 30px
}

.mod-footer-prom-item {
    display: inline-block;
    margin-left: 106px;
    padding-left: 106px;
    border-left: 1px solid #686868
}

.mod-footer-prom-item:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none
}

.mod-footer-prom .prom-item-ct {
    display: inline-block;
    vertical-align: middle;
    margin-left: 17px
}

.mod-footer-prom .prom-title {
    font-size: 20px;
    line-height: 24px
}

.mod-footer-prom .prom-ad {
    font-size: 14px;
    color: #878787
}

.footer-contact {
    background-color: #454444;
    font-size: 14px;
    color: #9e9e9e;
    text-align: center;
    padding: 40px 0
}

.footer-contact-col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 300px;
    overflow: hidden
}

.footer-contact-col.ml {
    margin-left: 50px
}

.footer-contact-tit {
    color: #cdcdcd;
    font-size: 16px;
    margin-bottom: 15px
}

.footer-contact-qq:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 17px;
    margin-right: 10px;
    vertical-align: text-bottom;
    background-image: url('../images/footer-contact-qq-icon.png');
    background-repeat: no-repeat
}

.footer-contact-email:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 14px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url('../images/footer-contact-email-icon.png');
    background-repeat: no-repeat
}

.footer-contact-code {
    margin-right: 20px;
    float: left;
    background-color: #fff;
    padding: 6px
}

.footer-contact-code img {
    width: 74px;
    height: 74px;
    display: block
}

.footer {
    width: 100%;
    text-align: center;
    color: #9e9e9e;
    border-top: 1px solid #e2e2e2;
    line-height: 20px;
    padding: 20px 0;
    background-color: #f2f2f2
}

.footer a {
    color: #9e9e9e;
    margin: 0 5px
}

.footer a:hover {
    color: #1cbcb4
}

.fixed-content .item:hover {
    background-color: #f8f8f8
}

.fixed-content {
    position: fixed;
    right: 53px;
    bottom: 225px;
    z-index: 21
}

.fixed-content .item {
    display: block;
    width: 48px;
    height: 48px;
    background: #fff;
    margin-top: -1px;
    position: relative;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    text-align: center
}

.fixed-content .code:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 26px;
    height: 26px;
    margin-top: 11px;
    background-image: url('../images/ewm-icon.png');
    background-repeat: no-repeat
}

.fixed-content .code:hover:before {
    background-image: url('../images/ewm-icon-cur.png');
    background-repeat: no-repeat
}

.fixed-content .backtop:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 26px;
    height: 16px;
    margin-top: 16px;
    background-image: url('../images/back-top-icon.png');
    background-repeat: no-repeat
}

.fixed-content .backtop:hover:before {
    background-image: url('../images/back-top-icon-cur.png');
    background-repeat: no-repeat
}

.fixed-content .feedback {
    color: #b4b4b4;
    position: relative
}

.fixed-content .feedback:before {
    display: block;
    margin: 5px 0 0 12px;
    content: '';
    width: 29px;
    height: 24px;
    background-image: url('../images/feedback-icon.png');
    background-repeat: no-repeat
}

.fixed-content .feedback:hover:before {
    background-image: url('../images/feedback-icon-cur.png');
    background-repeat: no-repeat
}

.fixed-content .feedback .layer {
    position: absolute;
    top: -120px;
    right: 60px;
    background: #fff;
    border: 1px solid #e2e2e2;
    cursor: default;
    padding: 25px 0 0 50px;
    color: #333435;
    display: none;
    font-size: 16px;
    width: 290px;
    height: 270px;
    box-sizing: border-box;
    text-align: left
}

.fixed-content .feedback .layer img {
    margin-left: -5px
}

.fixed-content .feedback .layer .arrow {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -5px;
    height: 0;
    width: 0;
    border-radius: 3px;
    border-left: 10px solid #e3e3e3;
    border-top: 10px dashed transparent;
    border-bottom: 10px dashed transparent
}

.fixed-content .feedback .layer .arrow:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.fixed-content .feedback .layer .arrow:after {
    right: 1px;
    top: -10px;
    border-left: 10px solid #fff;
    border-top: 10px dashed transparent;
    border-bottom: 10px dashed transparent
}

.fixed-content .feedback .layer .qq {
    color: #1cbcb4;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: text-bottom
}

.fixed-content .feedback .layer .qq:before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/qq-icon.png');
    background-repeat: no-repeat
}

.fixed-content .feedback .layer .qq:hover {
    text-decoration: none
}

.fixed-content .code-layer {
    position: absolute;
    top: 0;
    right: 59px;
    background: #fff;
    border: 1px solid #e2e2e2;
    text-align: left;
    cursor: default
}

.fixed-content .code-layer .mod-tab-panel {
    border: none
}

.fixed-content .code-layer .tab-item {
    margin-right: -1px
}

.fixed-content .code-layer .tab-content {
    position: relative;
    min-height: 113px;
    padding: 35px 20px 12px 146px;
    font-size: 16px
}

.fixed-content .code-layer .tab-content img {
    position: absolute;
    top: 25px;
    left: 20px
}

.fixed-content .code-layer .tab-content .intro {
    font-size: 14px;
    color: #878787;
    margin-top: 4px
}

.fixed-content .email:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 32px;
    height: 25px;
    margin-top: 11px;
    background-image: url('../other/5OApB7z+EuCOQfgfxHGUb0Au7kL+AIsmNIkXINPSgAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.fixed-content .email-layer {
    position: absolute;
    top: -36px;
    right: 59px;
    background: #fff;
    border: 1px solid #e2e2e2;
    text-align: left;
    cursor: default
}

.fixed-content .email-layer .tab-content {
    position: relative;
    height: 110px;
    width: 230px;
    font-size: 18px;
    padding: 18px
}

.fixed-content .email-layer .tab-content .job-pos {
    color: #4b4f50;
    margin-bottom: 12px
}

.fixed-content .email-layer .tab-content .email-address {
    color: #0fcd94
}

.fixed-contact {
    position: fixed;
    right: 15px;
    top: 50%;
    margin-top: -180px;
    z-index: 21;
    background: #fff
}

.fixed-contact-item {
    box-sizing: border-box;
    padding: 16px 10px;
    border: 1px solid #e2e2e2;
    margin-top: -1px;
    font-size: 14px;
    line-height: 1.2;
    width: 132px
}

.fixed-contact-k {
    color: #878787
}

.fixed-contact-v {
    color: #323232;
    display: block;
    margin-top: 12px
}

.fixed-contact-v p {
    margin-bottom: 6px
}

.fixed-contact a.fixed-contact-v {
    color: #1cbcb4;
    position: relative;
    padding-left: 20px
}

.fixed-contact a.fixed-contact-v:before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../other/UAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.fixed-contact a.fixed-contact-v:hover {
    text-decoration: none
}

.fixed-contact .backtop {
    display: block;
    text-align: center
}

.fixed-contact .backtop:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 26px;
    height: 16px;
    background-image: url('../other/48411WI9ugE3rywFwQPN9rYAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.mod-tab-panel {
    white-space: nowrap;
    border: 1px solid #e2e2e2;
    background: #f6f6f6
}

.mod-tab-panel .tab-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #878787;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    margin: -1px auto -1px -1px;
    cursor: pointer
}

.mod-tab-panel .tab-item .item-in {
    display: inline-block;
    vertical-align: top;
    padding: 0 28px;
    line-height: 39px
}

.mod-tab-panel .tab-item.cur {
    background: #fff;
    border-bottom-color: #fff;
    color: #323232
}

.mod-tab-panel .tab-item.cur a {
    color: #323232
}

.mod-tab-panel .tab-item a {
    color: #878787
}

.ui-button {
    display: inline-block;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    color: #323232;
    border-radius: 5px;
    min-width: 108px;
    padding: 0 20px;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e2e2e2
}

.ui-button:hover {
    background-color: #f6f6f6
}

.ui-button.disabled {
    cursor: not-allowed
}

.ui-button.disabled:hover {
    background-color: #fff
}

.ui-button-primary {
    color: #1cbcb4;
    border-color: #1cbcb4
}

.ui-button-primary:hover {
    background-color: #e2f5f4
}

.ui-button-suc {
    background-color: #1cbcb4;
    color: #fff;
    border-color: #1cbcb4
}

.ui-button-suc:hover {
    background-color: #01aea5
}

.ui-button-suc.disabled:hover {
    background-color: #1cbcb4
}

.ui-button-mid {
    min-width: 84px;
    line-height: 32px;
    padding: 0 12px;
    font-size: 14px
}

.ui-button-sm {
    min-width: 66px;
    line-height: 30px;
    padding: 0 8px;
    font-size: 12px
}

.ui-checkbox {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin-right: 10px;
    line-height: 16px
}

.ui-checkbox input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    margin: 0;
    width: 16px;
    height: 16px
}

.ui-checkbox-rect {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    background-image: url('../images/check-icon.png');
    background-repeat: no-repeat
}

.ui-checkbox-rect.checked {
    background-image: url('../images/checked-icon.png');
    background-repeat: no-repeat
}

.ui-checkbox-text {
    margin: 0 0 0 5px;
    font-size: 14px;
    vertical-align: text-bottom
}

input[disabled] ~ label {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
    cursor: not-allowed
}

.ui-input {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 0 10px;
    font-size: 14px
}

.ui-input input {
    position: relative;
    width: 100%;
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 10px 0;
    outline: none;
    border: none;
    background: none;
    z-index: 1
}

.ui-input input[disabled] ~ .ui-input-bg:hover {
    border-color: #e2e2e2
}

.ui-input input:focus ~ .ui-input-bg {
    border-color: #1cbcb4
}

.ui-input input:focus ~ .ui-input-count {
    visibility: visible
}

.ui-input:hover .ui-input-bg {
    border-color: #c9c9c9
}

.ui-input.error .ui-input-bg {
    border-color: #f4615c !important
}

.ui-input-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    -webkit-transition: border-color .15s, background-color .15s;
    transition: border-color .15s, background-color .15s
}

.ui-input.count, .ui-input.unit {
    padding-right: 40px
}

.ui-input-count {
    line-height: 40px;
    color: #a2a9b6;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    visibility: hidden
}

.ui-input-count i {
    font-style: normal
}

.ui-input-unit {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 40px;
    color: #9e9e9e
}

.placeholder-wrap {
    position: relative;
    z-index: 2
}

.placeholder-wrap .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: #a9a9a9;
    z-index: 5
}

.ui-textarea .placeholder {
    top: 9px;
    left: 8px
}

.ui-textarea.count .placeholder {
    top: 0;
    left: 0
}

.ui-pagination {
    margin: 32px 0;
    text-align: center
}

.ui-pagination-wrap {
    display: inline-block
}

.ui-pagination-list {
    display: inline-block;
    vertical-align: top;
    font-size: 0
}

.ui-pagination-item {
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    margin-right: 4px
}

.ui-pagination-item.actived {
    color: #1cbcb4
}

.ui-pagination-item:hover {
    border: 1px solid #1cbcb4;
    color: #1cbcb4
}

.ui-pagination-item.next, .ui-pagination-item.prev {
    width: 88px
}

.ui-pagination-item.ellip {
    border: none;
    cursor: default;
    pointer-events: none;
    background-color: #f8f8f8
}

.ui-pagination-item.ellip:hover {
    border: none;
    color: #323232
}

.ui-pagination-sum {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px
}

.ui-pagination-total {
    margin: 0 6px
}

.ui-pagination-goto {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    font-size: 14px
}

.ui-pagination-goto input[type=text] {
    width: 44px;
    height: 24px;
    margin: 0 12px;
    text-align: center
}

.ui-pagination-goto input[type=button] {
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 12px;
    padding: 5px 12px;
    cursor: pointer;
    border: 1px solid #e2e2e2
}

.ui-pagination-goto input[type=button]:hover {
    border-color: #1cbcb4;
    color: #1cbcb4
}

.ui-pagination-goto input[type=button]:focus {
    outline: 0
}

.ui-radio {
    display: inline-block;
    margin-right: 10px;
    line-height: 17px
}

.ui-radio input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    margin: 0;
    width: 17px;
    height: 17px
}

.ui-radio-btn {
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: top;
    cursor: pointer;
    background-image: url('../other/mD161Ow9Z6cs5HGvCffAgwA7BQ6fJU1kicAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.ui-radio-btn.checked {
    background-image: url('../other/J7DLchExposnT+94T34LMADcxsOp6t+xHwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat
}

.ui-radio-text {
    margin: 0 0 0 5px;
    font-size: 14px;
    vertical-align: text-bottom
}

input[disabled] ~ .ui-radio-btn, input[disabled] ~ .ui-radio-text {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"
}

.ui-search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 10px;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 36px
}

.ui-search input {
    position: relative;
    display: block;
    height: 20px;
    line-height: 20px;
    outline: none;
    border: none;
    background: none;
    z-index: 1;
    margin: 10px 0
}

.ui-search input[disabled] ~ .ui-search-bg:hover {
    border-color: #e2e2e2
}

.ui-search input:focus ~ .ui-search-bg {
    border-color: #1cbcb4
}

.ui-search input:focus ~ .ui-search-btn {
    background-color: #1cbcb4
}

.ui-search:hover .ui-search-bg {
    border-color: #c9c9c9
}

.ui-search.error .ui-search-bg {
    border-color: #f4615c !important
}

.ui-search-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    -webkit-transition: border-color .15s, background-color .15s;
    transition: border-color .15s, background-color .15s
}

.ui-search-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    right: 1px;
    border: solid #fff;
    border-width: 10px 8px;
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #b6bbc6;
    z-index: 2
}

.layer-hint {
    position: absolute;
    font-size: 14px;
    z-index: 100
}

.layer-hint ul {
    border: 1px solid #e2e2e2
}

.layer-hint li {
    background-color: #fff;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
    cursor: pointer
}

.layer-hint li:hover {
    background-color: #eee
}

.select {
    min-width: 114px
}

select.select {
    width: auto;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 25px 9px 12px;
    border: 1px solid #e2e2e2;
    outline: none;
}

.ui-select {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px
}

.ui-select-button {
    display: block;
    border: 1px solid #e2e2e2;
    background: #fff;
    height: 20px;
    line-height: 20px;
    padding: 9px 25px 9px 12px;
    color: #333;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.ui-select-button:hover {
    text-decoration: none;
    border-color: #c9c9c9
}

.ui-select-button:active {
    background-color: #efefef
}

.ui-select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-radius: 3px;
    border-top: 7px solid #747474;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent
}

.ui-select-icon:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.ui-select-icon:after {
    left: -7px;
    bottom: 2px;
    border-top: 7px solid #fff;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent
}

.ui-select-datalist {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    top: 37px;
    border: 1px solid #e2e2e2;
    max-height: 300px;
    overflow: auto
}

.ui-select-li {
    height: 20px;
    line-height: 20px;
    padding: 8px 12px;
    cursor: pointer
}

.ui-select-li:hover {
    background: #eee
}

.ui-select.active {
    z-index: 10
}

.ui-select.active .ui-select-datalist {
    display: inline-block
}

.ui-select.active .ui-select-icon {
    height: 0;
    width: 0;
    border-radius: 3px;
    border-bottom: 7px solid #747474;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-top: none
}

.ui-select.active .ui-select-icon:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.ui-select.active .ui-select-icon:after {
    left: -7px;
    top: 2px;
    border-bottom: 7px solid #fff;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent
}

.ui-select.active .ui-select-icon:after {
    border-top: none
}

.ui-select.mr {
    margin-right: 20px
}

.select[disabled] ~ .ui-select, .ui-select.disabled {
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
    position: relative
}

.select[disabled] ~ .ui-select .ui-select-button, .ui-select.disabled .ui-select-button {
    cursor: default;
    pointer-events: none
}

.select[disabled] ~ .ui-select .ui-select-button:active, .ui-select.disabled .ui-select-button:active {
    background-color: #fff
}

.ui-table {
    margin: 0 auto;
    line-height: 1.6
}

.ui-table-hd {
    background-color: #f8f8f8;
    color: #878787;
    font-size: 0;
    text-align: center
}

.ui-table-hd span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 32px
}

.ui-table-txtlg {
    font-size: 16px;
    line-height: 28px
}

.ui-table table {
    margin-top: 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    table-layout: fixed
}

.ui-table thead {
    background-color: #f8f8f8
}

.ui-table tr {
    border-bottom: 1px solid #e2e2e2
}

.ui-table.theme-1 tbody tr:first-child {
    line-height: 20px;
    color: #b7b7b7;
    background-color: #f8f8f8
}

.ui-table.theme-1 tbody tr:first-child td {
    font-size: 12px;
    padding: 6px 20px;
    border: none;
    text-align: left
}

.ui-table tbody tr {
    border-bottom-color: #f0f0f0
}

.ui-table tbody tr:last-child {
    border-color: #e2e2e2
}

.ui-table th {
    font-weight: 400;
    color: #878787;
    padding: 8px 0 8px 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 10px 0
}

.ui-table td {
    padding: 22px 16px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ededed;
    box-sizing: border-box
}

.ui-table a {
    color: #1cbcb4
}

.ui-toast {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 45%;
    left: 0;
    z-index: 1001;
    font-size: 16px
}

.ui-toast-inpage {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px
}

.ui-toast-inner {
    display: inline-block;
    vertical-align: top;
    height: 68px;
    line-height: 68px;
    background: #fffbea;
    border: 1px solid #d7caa7;
    padding: 0 28px;
    position: relative;
    color: #ba9c6d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.ui-toast-block {
    display: block;
    height: 68px;
    line-height: 68px;
    background: #fffbea;
    border: 1px solid #d7caa7;
    padding: 0 28px;
    position: relative;
    color: #ba9c6d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.ui-toast-ico {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    margin: 20px 10px 0 0
}

.ui-toast-ico.suc {
    background-image: url('../images/suc-icon.png');
    background-repeat: no-repeat
}

.ui-toast-ico.warn {
    background-image: url('../images/warn-icon.png');
    background-repeat: no-repeat
}

.ui-toast-ico.loading {
    background: url(../images/preload28-d75b2da573.gif) no-repeat
}

.ui-toast-ico.warn-bw {
    background-image: url('../images/warn-bw.png');
    background-repeat: no-repeat
}

body, dd, dt, h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

dd, li, ul {
    list-style: none
}

img {
    border: none;
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: inherit
}

input {
    outline: none
}

em {
    font-style: normal
}

html {
    height: 100%
}

body {
    position: relative;
    font: 12px/1.5 microsoft yahei, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f8f8f8;
    min-width: 1200px;
    color: #323232;
    min-height: 100%;
    box-sizing: border-box
}

button, input, select, textarea {
    font-size: 1em;
    font-family: inherit
}

::-webkit-input-placeholder {
    color: #a9a9a9
}

:-moz-placeholder {
    color: #a9a9a9
}

::-moz-placeholder {
    color: #a9a9a9
}

:-ms-input-placeholder {
    color: #a9a9a9
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background: #eee
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ddd
}

.hidden {
    display: none
}

.disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

:disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layout {
    width: 1200px;
    margin: 0 auto
}

.red-redeem {
    display: inline-block
}

.red-redeem:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 13px;
    margin-right: 6px;
    background: url(../images/red-redeem.png) no-repeat
}

.red-redeem.mid:before {
    width: 23px;
    height: 17px;
    vertical-align: bottom;
    background: url(../images/red-redeem-mid.png) no-repeat
}

.mr0 {
    margin-right: 0 !important
}

.weak {
    color: #878787
}

.weaker {
    color: #9e9e9e
}

.mod-crumb {
    width: 1200px;
    font-size: 14px;
    line-height: 24px;
    margin: 20px auto
}

.mod-crumb a {
    color: #323232
}

.mod-crumb a:hover {
    color: #1cbcb4
}

.mod-crumb span {
    color: #878787
}

.ico-bao {
    width: 19px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ico-bao-39f7daa9e2.png) 0 0 no-repeat
}

.ico-invoice {
    width: 18px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ico-invoice-f384353940.png) 0 0 no-repeat
}

.ico-police {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ico-police-9feabdd43b.png) 0 0 no-repeat
}

.ico-outlets {
    width: 32px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    background-color: #de373e;
    font-style: normal;
    text-align: center
}

.ico-clock {
    width: 37px;
    height: 42px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -4px;
    vertical-align: middle;
    background-image: url('../other/BURsz3OqJt4GAAAAAElFTkSuQmCC');
    background-repeat: no-repeat
}

.ico-clock-sm {
    width: 18px;
    height: 21px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    background-image: url('../other/TqCbLpaAAAAAElFTkSuQmCC');
    background-repeat: no-repeat
}

.lv {
    font-size: 12px;
    background: #f9bc01;
    line-height: 13px;
    display: inline-block;
    padding: 0 3px;
    margin-left: 4px;
    border-radius: 2px;
    color: #fff !important
}

.lv:hover {
    color: #fff !important
}

/*add style*/
.mall-container .menu-tit {
    padding-left: 53px;
    font-size: 16px;
    line-height: 40px;
    position: relative;
    background: #fefefe;
    border-bottom: 1px solid #e2e2e2;
}
.mall-container .menu .menu-item{
    border-top: 1px solid #e2e2e2;
}
.mall-container .menu .menu-item:first-of-type{
    border-top: 0;
}
.mall-container .menu-list .item:first-of-type.cur a{
    border-top: 0;
}
.ui-button-gray.disabled {
    background-color: #ccc;
    color: #fff;
    border-color: #ccc
}
.ui-button-gray.disabled:hover {
    background-color: #ccc
}
