.provider-aboutheader-consult, .provider-aboutheader-deal, .provider-aboutheader-otherinfo p span, .provider-aboutpop-v, .provider-index-box .service-list .intro, .provider-index-box .service-list .originalprice, .provider-index-box .service-list .price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: normal
}

.sort-opt {
    position: relative;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    background: #f9f9f9;
    margin-bottom: 24px
}

.sort-opt .opt {
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
    padding: 0 17px;
    border-right: 1px solid #e2e2e2;
    margin-left: 0;
    color: #878787
}

.sort-opt .opt:hover {
    text-decoration: none
}

.sort-opt .opt.cur {
    background: #fff;
    color: #1cbcb4
}

.sort-opt .sortby {
    display: inline-block;
    vertical-align: top;
    width: 9px;
    height: 13px;
    margin: 12px 0 0 9px
}

.sort-opt .sortby.des {
    background-image: url(../images/sprite-7e8b7d8bbe.corp-index.base.png);
    background-position: -23px 0
}

.sort-opt .sortby.asc {
    background-image: url(../images/sprite-7e8b7d8bbe.corp-index.base.png);
    background-position: 0 -17px
}

.sort-opt .address-info {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    color: #878787
}

.sort-opt .address-info .item {
    padding: 0 16px;
    line-height: 38px
}

.sort-opt .address-info .line {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 23px;
    background: #ededed;
    margin: 8px 0 0
}

.sort-opt .address-info .recommend .ui-checkbox {
    margin-top: 11px
}

.sort-opt .address-info .choose-address {
    padding: 7px 15px;
    box-sizing: border-box;
    height: 38px
}

.sort-opt .address-info .choose-address:before {
    background: #f8f8f8
}

.sort-opt .address-info .choose-address:after {
    background: #f8f8f8;
    right: 1px
}

.sort-opt .address-info .choose-address .ui-address-tri {
    margin-top: 2px
}

.sort-opt .address-info .choose-address .ui-checkbox-text {
    line-height: 26px;
    margin-left: 0
}

.sort-opt .address-info .choose-address .ui-address-layer {
    width: 375px;
    text-align: left;
    top: 37px;
    background: #f8f8f8;
    padding-bottom: 0
}

.sort-opt .address-info .choose-address .ui-address-layer .mod-tab-panel {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px
}

.sort-opt .address-info .choose-address .ui-address-layer .tab-item {
    border-top-color: #f8f8f8
}

.sort-opt .address-info .choose-address .ui-address-layer .tab-item.cur {
    border-top-color: #e2e2e2
}

.sort-opt .address-info .choose-address .ui-address-layer .item-in {
    line-height: 26px;
    padding: 0 20px
}

.sort-opt .address-info .choose-address .ui-address-layer .mod-tab-content {
    background: #fff;
    padding: 6px 0 6px 13px
}

.sort-opt .address-info .choose-address .ui-address-layer .address-item {
    float: left;
    width: 70px;
    margin: 6px 0;
    color: #323232
}

.sort-opt .address-info .choose-address .ui-address-layer .address-item span {
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    padding: 0 6px;
    border: 1px solid #fff;
    cursor: pointer
}

.sort-opt .address-info .choose-address .ui-address-layer .address-item.checked span {
    border-color: #1cbcb4;
    color: #1cbcb4
}

.mod-head.mod-head-small {
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px
}

.mod-head:first-child {
    margin-top: 42px
}

.mod-head {
    position: relative;
    padding-left: 12px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 24px
}

.mod-title {
    display: inline-block;
    vertical-align: top;
    text-indent: 0;
    margin-top: 4px
}

.mod-head.mod-head-small:before {
    height: 20px
}

.mod-head:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 28px;
    background: url('../images/mod-head-s.png') no-repeat;
    top: 4px;
    left: 0
}

.mod-head .more {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #1cbcb4;
    font-size: 16px;
    line-height: normal
}

.ui-button-suc {
    color: #fff !important
}

.ui-address {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px;
    cursor: pointer;
    position: relative;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ui-address:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 2
}

.ui-address.ui-address-close .ui-address-tri .ui-address-tri-icon {
    content: "";
    height: 0;
    width: 0;
    border-top: 6px solid #909090;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.ui-address.ui-address-open {
    z-index: 5
}

.ui-address.ui-address-open .ui-address-tri .ui-address-tri-icon {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 6px solid #909090;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.ui-address.ui-address-open .ui-address-layer {
    display: block
}

.ui-address.ui-address-open:before {
    border-bottom: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.ui-address.ui-address-open:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -4px;
    height: 9px;
    background: #fff;
    z-index: 2;
    width: 100%
}

.ui-address-count {
    color: #ef6512
}

.ui-checkbox-wrap {
    margin: 0;
    position: relative;
    z-index: 3
}

.ui-checkbox-wrap label {
    cursor: pointer
}

.ui-address-tri {
    display: inline-block;
    vertical-align: top;
    padding: 8px 8px 7px 7px;
    height: 6px;
    overflow: hidden;
    margin-right: -8px
}

.ui-address-tri .ui-address-tri-icon {
    display: inline-block;
    vertical-align: top
}

.ui-address-layer {
    position: absolute;
    width: 318px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 12px 0;
    left: -1px;
    top: 32px;
    cursor: default;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    display: none
}

.ui-address-layer .ui-checkbox-wrap {
    width: 105px;
    box-sizing: border-box;
    padding: 9px 0 9px 20px
}

.ui-address-layer .mod-tab-panel {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px
}

.ui-address-layer .item-in {
    line-height: 26px;
    padding: 0 20px
}

.ui-address-layer .mod-tab-content {
    background: #fff;
    padding: 8px 0 8px 12px
}

.ui-address-layer .address-item span {
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    padding: 0 6px;
    border: 1px solid #fff;
    cursor: pointer
}

.ui-address-layer .address-item.checked span {
    border-color: #1cbcb4;
    color: #1cbcb4
}

.ui-address-layer .address-item {
    float: left;
    width: 70px;
    margin: 6px 0;
    color: #323232;
    font-size: 14px;
    text-align: center
}

.mod-empty {
    box-sizing: border-box;
    text-align: center;
    font-size: 28px;
    color: #b7b7b7;
    padding: 200px 0
}

.mod-red-redeem:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 13px;
    margin-right: 6px;
    background-repeat: no-repeat
}

.mod-red-redeem:before {
    background-position: -112px -75px
}

.mod-rating-star label, .mod-red-redeem:before, .mod-seckill-price:before {
    background-image: url(../images/sprite-7e8b7d8bbe.corp-index.base.png);
    background-position: 0 0
}

.provider-index-box .service-list .mod-red-redeem:before {
    vertical-align: middle;
    margin-top: -2px
}

.provider-index-box .service-list .mod-tag-orange {
    margin-left: 12px
}

.mod-tag-orange {
    background: #ef6512;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 4px
}

.mod-title {
    font: 20px/26px microsoft yahei;
    color: #323232;
    margin-top: 0
}

.ml20 {
    margin-left: 20px
}

.provider-index-box {
    margin-top: 40px
}

.provider-index-box .service-list {
    overflow: hidden
}

.provider-index-box .service-list ul {
    margin-right: -24px
}

.provider-index-box .service-list .item {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 240px;
    height: 154px;
    border: 1px solid #e2e2e2;
    padding: 20px 20px 14px;
    background-color: #fff;
    position: relative;
    font-size: 14px;
    margin: 0 20px 24px 0;
    cursor: pointer
}

.provider-index-box .service-list .item:hover {
    border-color: #1cbcb4
}

.provider-index-box .service-list .item:hover .ui-button {
    display: block
}

.provider-index-box .service-list .title {
    font-size: 20px;
    color: #323232;
    margin-bottom: 3px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.provider-index-box .service-list .intro {
    color: #878787;
    line-height: 20px
}

.provider-index-box .service-list .record {
    color: #9e9e9e;
    line-height: 20px;
    margin-top: 5px
}

.provider-index-box .service-list .record em {
    font-style: normal
}

.provider-index-box .service-list .deal {
    margin-right: 10px
}

.provider-index-box .service-list .originalprice {
    font-size: 14px;
    text-decoration: line-through;
    color: #9e9e9e;
    max-width: 150px
}

.provider-index-box .service-list .price {
    font-size: 22px;
    color: #ef6512;
    max-width: 150px
}

.provider-index-box .service-list .price small {
    font-size: 18px
}

.provider-index-box .service-list .price-box {
    position: absolute;
    left: 20px;
    bottom: 10px
}

.provider-index-box .service-list .mod-red-redeem, .provider-index-box .service-list .mod-seckill-price {
    line-height: 1;
    color: #ff6547
}

.provider-index-box .service-list .mod-red-redeem:before, .provider-index-box .service-list .mod-seckill-price:before {
    vertical-align: bottom
}

.provider-index-box .service-list .ui-button {
    position: absolute;
    right: 17px;
    bottom: 13px;
    display: none
}

.provider-index-box .service-list a {
    text-decoration: none;
    color: #323232
}

.provider-index-box .service-list.light-serv .consult {
    margin-bottom: 40px;
    color: #878787
}

.provider-index-box .service-list.light-serv .item {
    height: 123px
}

.service-list-box {
    margin-bottom: -22px
}

.provider-aboutheader {
    height: 340px;
    background: #f2eeea url(../images/banner-c009dcb13e.jpg) top no-repeat;
    color: #fff
}

.provider-aboutheader-baseinfo {
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2)
}

.provider-aboutheader-otherinfo {
    padding-top: 15px;
    font-size: 14px
}

.provider-aboutheader-otherinfo .col {
    float: left;
    margin-right: 35px
}

.provider-aboutheader-otherinfo .col-2 .addr {
    max-width: 120px
}

.provider-aboutheader-otherinfo .col-3 {
    margin-right: 0;
    max-width: 358px
}

.provider-aboutheader-otherinfo .col-3 p span {
    max-width: 270px
}

.provider-aboutheader-otherinfo h5 {
    font-size: 16px;
    margin-bottom: 5px
}

.provider-aboutheader-otherinfo p {
    line-height: 1;
    height: 24px;
    border: 1px solid #e2e2e2
}

.provider-aboutheader-otherinfo p span {
    display: inline-block;
    padding: 5px;
    vertical-align: bottom;
    max-width: 120px
}

.provider-aboutheader-otherinfo label {
    color: #323232;
    background-color: #fff;
    padding: 5px 10px;
    display: inline-block
}

.provider-aboutheader-info {
    padding: 50px 35px 0;
    box-sizing: border-box;
    height: 340px;
    position: relative
}

.provider-aboutheader-info-wrap {
    position: relative
}

.provider-aboutheader-mask {
    background-color: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.provider-aboutheader-crumb {
    padding: 30px 0 20px
}

.provider-aboutheader-crumb-wrap {
    background: #fff
}

.provider-aboutheader-crumb a {
    color: #fff
}

.provider-aboutheader-crumb a:hover {
    text-decoration: none
}

.provider-aboutheader-logo {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 30px
}

.provider-aboutheader-consult, .provider-aboutheader-deal {
    font-size: 16px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 21px;
    max-width: 190px
}

.provider-aboutheader-consult {
    margin-left: 0
}

.provider-aboutheader-h1 {
    font-size: 28px;
    margin-bottom: 12px
}

.provider-aboutheader-h1 i {
    display: inline-block;
    margin-left: 10px
}

.provider-aboutheader-h1 .lv {
    vertical-align: middle
}

.provider-aboutheader-score {
    font-size: 16px;
    line-height: 21px;
    display: inline-block
}

.provider-aboutheader-score .v {
    display: inline-block;
    background-color: #fff;
    padding: 0;
    margin-right: 15px;
    width: 42px;
    text-align: center;
    position: relative;
    white-space: nowrap
}

.provider-aboutheader-btn {
    background-color: transparent;
    color: #fff !important;
    border-color: #fff;
    margin-top: 25px;
    line-height: 30px;
    min-width: 60px;
    padding: 0 12px;
    font-size: 14px
}

.provider-aboutheader-btn:hover {
    color: #323232 !important
}

.provider-aboutcrumb {
    height: 48px;
    line-height: 48px;
    color: #b7b7b7;
    font-size: 16px;
    white-space: nowrap
}

.provider-aboutcrumb-wrap {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #fff
}

.provider-aboutcrumb a {
    display: inline-block;
    text-align: center;
    width: 136px;
    height: 44px;
    line-height: 44px;
    color: #878787;
    border-top: 4px solid #fff
}

.provider-aboutcrumb a:hover {
    text-decoration: none;
    color: #323232
}

.provider-aboutcrumb a.cur {
    background: #f8f8f8;
    color: #323232;
    border-top: 4px solid #1cbcb4;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2
}

.provider-aboutlist-item {
    vertical-align: top;
    display: inline-block;
    width: 382px;
    height: 360px;
    border: 1px solid #e2e2e2;
    margin-left: 24px;
    background: #fff
}

.provider-aboutlist-item:first-child {
    margin-left: 0
}

.provider-aboutlist-item h3 {
    color: #323232;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    padding-bottom: 12px;
    margin-top: 70px
}

.provider-aboutlist-item .hd {
    position: relative;
    height: 80px;
    background: url(../images/about-hdbg.jpg) 0 0 no-repeat;
    border-bottom: 1px solid #e2e2e2
}

.provider-aboutlist-item .wrap {
    width: 105px;
    height: 105px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 134px;
    top: 28px
}

.provider-aboutlist-item .wrap img {
    display: block;
    margin: 15px auto 0;
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"
}

.provider-aboutlist-item-2 .wrap img {
    margin-top: 20px;
    margin-left: 20px
}

.provider-aboutlist-item-3 .wrap img {
    margin-top: 20px
}

.provider-aboutlist p {
    padding: 0 32px;
    line-height: 24px;
    max-height: 192px;
    color: #878787;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word
}

.provider-aboutfixed {
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    position: fixed;
    right: 53px;
    bottom: 225px;
    z-index: 21;
    background: #fff
}

.provider-aboutfixed-item {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    margin-top: -1px
}

.provider-aboutfixed-item:last-child {
    border: 0
}

.provider-aboutfixed-k {
    font-size: 14px;
    color: #878787
}

.provider-aboutfixed-v {
    font-size: 14px;
    color: #323232
}

.provider-aboutfixed a.provider-aboutfixed-v {
    color: #1cbcb4;
    position: relative;
    padding-left: 20px
}

.provider-aboutfixed a.provider-aboutfixed-v:before {
    content: '';
    width: 15px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/sprite-de8ccace8c.corp-index.normal.png);
    background-position: -34px 0
}

.provider-aboutfixed a.provider-aboutfixed-v:hover {
    text-decoration: none
}

.provider-aboutpop {
    display: none;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    border: 1px solid #e3e3e3;
    background-color: #fff;
    font-size: 14px;
    width: 370px;
    z-index: 50;
    left: -30px;
    top: 23px
}

.provider-aboutpop-kv {
    padding: 0 13px 15px
}

.provider-aboutpop-kv:first-child {
    padding-top: 20px
}

.provider-aboutpop-k {
    overflow: hidden;
    display: inline-block;
    width: 60px;
    color: #878787;
    font-size: 14px;
    padding-right: 20px
}

.provider-aboutpop-k:first-child {
    border-top: 0
}

.provider-aboutpop-v {
    display: inline-block;
    max-width: 250px;
    color: #323232;
    font-size: 14px
}

.provider-aboutpop-vicon-gs {
    width: 30px;
    height: 31px;
    line-height: 31px;
    display: inline-block;
    background-image: url(../images/sprite-de8ccace8c.corp-index.normal.png);
    background-position: 0 0
}

.provider-aboutpop-vicon-gs:before {
    content: '\2002'
}

.ico-bao {
    width: 19px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/icon-bao.png');
    background-repeat: no-repeat
}