.ui-textarea {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden
}

.ui-textarea textarea {
    position: relative;
    line-height: 20px;
    padding: 9px 8px;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    vertical-align: top;
    overflow: auto;
    -webkit-transition: all .3s;
    transition: all .3s;
    resize: none;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid #e3e3e3
}

.ui-textarea textarea:hover {
    border-color: #c9c9c9
}

.ui-textarea textarea:focus {
    border-color: #1cbcb4
}

.ui-textarea textarea[disabled]:hover {
    border-color: #e3e3e3
}

.ui-textarea.count {
    padding: 9px 8px 0
}

.ui-textarea.count textarea {
    width: 100%;
    border: none;
    padding: 0
}

.ui-textarea.count textarea:focus ~ .ui-textarea-bg {
    border-color: #1cbcb4
}

.ui-textarea.count textarea:focus ~ .ui-textarea-count {
    visibility: visible
}

.ui-textarea-bg {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    outline: none;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.ui-textarea-count {
    display: block;
    line-height: 32px;
    color: #878787;
    font-size: 12px;
    text-align: right;
    position: relative;
    z-index: 1;
    visibility: hidden
}

.ui-textarea-count i {
    font-style: normal
}

.ui-textarea:hover .ui-textarea-bg {
    border-color: #c9c9c9
}

.ui-textarea.error .ui-textarea-bg, .ui-textarea.error textarea {
    border-color: #f4615c
}

.ui-dialog-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    display: none
}

.ui-dialog-wrap:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)"
}

.ui-dialog-wrap:after {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
    width: 0;
    content: ''
}

@media \0screen {
    .ui-dialog-wrap:before {
        background: none;
        opacity: 1;
        filter: alpha(opacity=10000);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=10000)";
        background: url(../images/dialogbg88-5927b58a9f.png) no-repeat;
        background-repeat: repeat
    }
}

.ui-dialog {
    position: relative;
    display: none;
    vertical-align: middle;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    min-width: 356px;
    background-color: #fff;
    -webkit-animation: a .25s;
    animation: a .25s;
    z-index: 1000;
    border: 1px solid #e2e2e2
}

.ui-dialog.active {
    display: inline-block
}

.ui-dialog-title {
    padding: 0 50px 0 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    min-height: 35px;
    background-color: #f8f8f8
}

.ui-dialog-close {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 16px;
    height: 16px;
    background-color: #b6bbc6;
    background-image: url('../images/del2-icon.png');
    background-repeat: no-repeat;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    z-index: 1
}

.ui-dialog-close:hover {
    background-color: #4c5161
}

.ui-dialog-body {
    min-height: 60px;
    padding: 10px 35px 20px;
    font-size: 14px
}

.ui-dialog-body .weak {
    text-align: center
}

.ui-dialog-body .form-row {
    margin-top: 20px
}

.ui-dialog-body .form-row:first-child {
    margin-top: 10px
}

.ui-dialog-body .form-tit {
    width: 102px
}

.ui-dialog-body .vert-middle {
    line-height: 40px
}

.ui-dialog-body:after {
    content: '';
    display: table
}

.ui-dialog-footer {
    padding: 0 35px 25px;
    text-align: center
}

.ui-dialog-footer .ui-button {
    margin: 0 6px
}

.ui-dialog-alert {
    text-align: center;
    padding: 30px 0 0;
    font-size: 16px
}

.ui-dialog-alert-left {
    padding: 30px 0 0;
    font-size: 16px
}

@-webkit-keyframes a {
    0%, 5% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes a {
    0%, 5% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.ui-dialog .default-input-width {
    width: 250px
}

.ui-dialog .default-input-width.ui-textarea {
    width: 268px
}

.ui-dialog .default-input-width.ui-input-x {
    width: 209px
}

.ui-dialog .default-input-width.ui-textarea-x {
    width: 256px
}

.scroll-cont {
    max-height: 400px;
    overflow-y: auto;
    padding: 0 15px 0 25px;
    margin: 10px 0 20px
}

.ui-dialog-login .ui-dialog {
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 386px;
    padding: 11px 0 18px
}

.ui-dialog-login .ui-dialog .tit {
    font-size: 28px;
    margin-bottom: 8px
}

.ui-dialog-login .ui-dialog a {
    color: #1cbcb4
}

.ui-dialog-login .ui-dialog a:hover {
    color: #00bd79;
    text-decoration: none
}

.ui-dialog-input {
    font-size: 16px;
    padding: 30px 0 0
}

.ui-dialog-input .ui-input {
    width: 288px;
    margin: 10px 0 30px
}

.pop-form-row .form-tit {
    width: 100px
}

.pop-form-row.mt {
    margin-top: 10px
}

.pop-form-row .primary {
    color: #323232;
    font-size: 16px
}

.pop-form-row .weak {
    color: #878787;
    font-size: 12px
}

.ui-dialog .weak {
    color: #878787
}

.placeholder-wrap {
    position: relative;
    z-index: 2
}

.placeholder-wrap .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: #a9a9a9;
    z-index: 5
}

.ui-textarea .placeholder {
    top: 9px;
    left: 8px
}

.ui-textarea.count .placeholder {
    top: 0;
    left: 0
}

.ui-paycard {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    width: 270px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px 20px 8px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px
}

.ui-paycard .nmgl, .ui-paycard:first-child, .ui-paycard:nth-child(4n+1) {
    margin-left: 0
}

.ui-paycard .ui-paycard-del, .ui-paycard .ui-paycard-edit {
    visibility: hidden;
    position: absolute;
    width: 18px;
    height: 18px
}

.ui-paycard .ui-paycard-edit {
    background-image: url('../images/edit-icon.png');
    background-repeat: no-repeat;
    top: 8px;
    right: 38px
}

.ui-paycard .ui-paycard-edit:hover {
    background-image: url('../images/edit-icon-hover.png');
    background-repeat: no-repeat
}

.ui-paycard .ui-paycard-del {
    background-image: url('../images/del-icon.png');
    background-repeat: no-repeat;
    top: 12px;
    right: 8px
}

.ui-paycard .ui-paycard-del:hover {
    background-image: url('../images/del-icon-hover.png');
    background-repeat: no-repeat
}

.ui-paycard:hover {
    background: #f8f8f8
}

.ui-paycard:hover .ui-paycard-del, .ui-paycard:hover .ui-paycard-edit {
    visibility: visible
}

.ui-paycard.is-checked, .ui-paycard.is-edit {
    border: 1px solid #1cbcb4
}

.ui-paycard.is-checked:before {
    position: absolute;
    content: '';
    border-width: 20px;
    border-style: dashed solid solid dashed;
    border-color: transparent #1cbcb4 #1cbcb4 transparent;
    bottom: 0;
    right: 0
}

.ui-paycard.is-checked:after {
    position: absolute;
    content: '';
    width: 17px;
    height: 14px;
    background-image: url('../images/yes-icon.png');
    background-repeat: no-repeat;
    bottom: 6px;
    right: 4px
}

.ui-paycard .ui-paycard-row {
    margin-bottom: 12px
}

.ui-paycard .ui-paycard-title, .ui-paycard .ui-paycard-val {
    display: inline-block;
    vertical-align: top
}

.ui-paycard .ui-paycard-title {
    width: 32%
}

.ui-paycard .ui-paycard-val {
    width: 65%
}

.ui-paycard .ui-paycard-val .email {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.ui-paycard .ui-paycard-val .company {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.mod-form {
    margin-top: 28px
}

.mod-form .mt {
    margin-top: 32px
}

.mod-form .mb {
    margin-bottom: 28px
}

.mod-form .ml {
    margin-left: 20px
}

.mod-form .layout {
    background: #fff;
    border: 1px solid #e2e2e2
}

.mod-form .require {
    color: #f4615c;
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;
    height: 16px;
    box-sizing: border-box;
    padding-top: 3px
}

.mod-form-hd {
    font-size: 18px;
    padding: 20px 20px 0;
    line-height: 24px
}

.mod-form-hd .remark {
    font-size: 16px;
    color: #9e9e9e;
    display: inline-block
}

.mod-form-bd {
    padding: 0 20px 32px
}

.mod-form-row {
    margin-top: 32px
}

.mod-form-row .text {
    color: #878787;
    padding: 6px 0;
    font-size: 16px;
    line-height: 28px
}

.mod-form-row .text.mb {
    margin-bottom: 6px
}

.mod-form-row .text.mt {
    margin-top: 32px
}

.mod-form-row .text.text-small {
    font-size: 14px
}

.mod-form-col {
    font-size: 16px;
    display: inline-block;
    vertical-align: top
}

.mod-form-col.mb {
    margin-bottom: 10px
}

.mod-form-col.mt {
    margin-top: 10px
}

.mod-form-col.ml {
    margin-left: 6px
}

.mod-form-col.mr {
    margin-right: 12px
}

.mod-form-tit {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;
    width: 162px;
    padding: 6px 0;
    color: #878787
}

.mod-form-tit .tips {
    color: #9e9e9e;
    font-size: 14px
}

.mod-form-cont {
    display: inline-block;
    vertical-align: top;
    max-width: 980px
}

.mod-form .default-w {
    width: 450px
}

.mod-form .default-w.ui-textarea {
    width: 468px
}

.mod-form .default-w.ui-input {
    width: 434px
}

.mod-form .input-tips {
    display: inline-block;
    vertical-align: top;
    line-height: 21px;
    margin: 11px 0 0 20px;
    font-size: 12px
}

.mod-form .input-tips:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover
}

.mod-form .input-tips.err {
    color: #f4615c
}

.mod-form .input-tips.err:before {
    background: url(../images/ico-err-9b482d2675.png) no-repeat
}

.mod-form .input-tips.suc {
    color: #1cbcb4
}

.mod-form .input-tips.suc:before {
    background: url(../images/ico-suc-b719919706.png) no-repeat
}

.mod-form .more-tips {
    padding-top: 4px;
    line-height: 24px;
    color: #b7b7b7
}

.mod-form .sub-form {
    margin-top: 12px;
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 10px;
    width: 980px;
    box-sizing: border-box
}

.mod-form .sub-form-row {
    margin-top: 32px
}

.mod-form .sub-form-row:first-child {
    margin-top: 0
}

.mod-form .sub-form-tit {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 162px;
    padding: 8px 0;
    color: #878787
}

.mod-form .sub-form-tit .tips {
    color: #9e9e9e;
    font-size: 14px
}

.mod-form .sub-form-col {
    margin-bottom: 12px
}

.mod-form .sub-form-cont {
    display: inline-block;
    vertical-align: top;
    max-width: 795px
}

.mod-form .sub-form-btnwrap {
    padding-left: 162px
}

.mod-form .sub-form-btnwrap .ui-button {
    margin-right: 8px
}

.mall-container {
    font-size: 14px;
    margin-bottom: 85px
}

.mall-container .side {
    float: left;
    width: 180px
}

.mall-container .main {
    float: right;
    width: 990px
}

.mall-container .menu {
    border: 1px solid #e2e2e2;
    background-color: #fff;
    color: #878787;
    padding-bottom: 29px
}

.mall-container .menu-item.mt {
    margin-top: 16px
}

.mall-container .menu-item.open .menu-tit .arrow {
    height: 0;
    width: 0;
    border-radius: 3px;
    border-bottom: 6px solid #b1b9b6;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.mall-container .menu-item.open .menu-tit .arrow:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.mall-container .menu-item.open .menu-tit .arrow:after {
    left: -6px;
    top: 2px;
    border-bottom: 6px solid #fff;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.mall-container .menu-item.close .menu-tit .arrow {
    height: 0;
    width: 0;
    border-radius: 3px;
    border-top: 6px solid #b1b9b6;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.mall-container .menu-item.close .menu-tit .arrow:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-radius: 3px
}

.mall-container .menu-item.close .menu-tit .arrow:after {
    left: -6px;
    bottom: 2px;
    border-top: 6px solid #fff;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.mall-container .menu-item.close .menu-list {
    height: 0;
    overflow: hidden
}

.mall-container .menu-tit {
    padding-left: 53px;
    font-size: 16px;
    line-height: 40px;
    position: relative
}

.mall-container .menu-tit:after {
    position: absolute;
    content: '';
    top: 50%
}

.mall-container .menu-tit.userinfo:after {
    width: 20px;
    height: 17px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -24px -26px;
    left: 20px;
    margin-top: -9px
}

.mall-container .menu-tit.founder:after {
    width: 19px;
    height: 17px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -48px -26px;
    left: 18px;
    margin-top: -9px
}

.mall-container .menu-tit.provider:after {
    width: 23px;
    height: 13px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: 0 -50px;
    left: 18px;
    margin-top: -7px
}

.mall-container .menu-tit .arrow {
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -3px
}

.mall-container .menu-list .item {
    line-height: 38px
}

.mall-container .menu-list .cur {
    line-height: 36px;
    border-left: 4px solid #1cbcb4
}

.mall-container .menu-list .cur a {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-left: 47px;
    background-color: #f8f8f8;
    color: #323232
}

.mall-container .menu-list a {
    display: block;
    padding-left: 51px;
    color: #878787
}

.mall-container .menu-list a:hover {
    color: #323232;
    text-decoration: none;
    background-color: #f8f8f8
}

.mall-container .mod-tab-panel {
    position: relative
}

.mall-container .mod-tab-panel .tab-item {
    font-size: 14px;
    border-left: none;
    border-right: none;
    background: none
}

.mall-container .mod-tab-panel .tab-item.cur {
    position: relative;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-bottom-color: #fff
}

.mall-container .mod-tab-panel .tab-item.cur .item-in {
    padding: 0 27px
}

.mall-container .mod-tab-panel .tab-item .item-in {
    line-height: 44px;
    position: relative
}

.mall-container .mod-tab-panel .tab-item.unread .item-in:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #f4615c;
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 3px
}

.mall-container .mod-tab-panel .publish-service {
    position: absolute;
    right: 20px;
    top: 6px
}

.mall-container .mod-tab-content {
    border-top: none;
    padding: 20px 20px 0
}

.mall-container .customer-order-content {
    padding: 24px;
    margin-bottom: 28px
}

.mall-container .customer-order-content .title {
    font-size: 18px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top
}

.mall-container .customer-order-content .title.title-payment {
    display: block
}

.mall-container .customer-order-content .status {
    margin-left: 18px;
    color: #323232;
    font-size: 16px;
    line-height: 28px
}

.mall-container .customer-order-content .emph {
    color: #ef6512
}

.mall-container .customer-order-content .ver-code {
    font-size: 18px;
    line-height: 24px;
    margin-left: 16px
}

.mall-container .customer-order-content .copy {
    color: #1cbcb4;
    margin-left: 12px
}

.mall-container .customer-order-content .code-inst {
    margin-bottom: 12px
}

.mall-container .customer-order-content .contact-box {
    font-size: 0;
    line-height: 36px;
    display: inline-block;
    vertical-align: top
}

.mall-container .customer-order-content .contact-box .item {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 24px
}

.mall-container .customer-order-content .contact-box .item .info {
    color: #323232;
    font-size: 16px;
    line-height: 28px;
    padding: 0 6px
}

.mall-container .customer-order-content .serial {
    margin-left: 8px
}

.mall-container .customer-order-content .submit-time {
    margin-left: 42px
}

.mall-container .customer-order-content .message-wrap {
    margin-top: 20px
}

.mall-container .customer-order-content .message-wrap .ui-textarea-x {
    width: 618px
}

.mall-container .customer-order-content .op-step {
    display: inline-block;
    vertical-align: bottom
}

.mall-container .customer-order-content .op-step .item {
    float: left;
    list-style-type: decimal;
    margin-left: 24px
}

.mall-container .order-summery {
    text-align: right
}

.mall-container .order-summery .total {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px
}

.mall-container .order-summery .total .cost {
    font-size: 28px;
    line-height: 36px;
    color: #ef6512;
    display: inline-block;
    min-width: 216px
}

.mall-container .order-summery .project {
    line-height: 20px;
    margin-bottom: 12px
}

.mall-container .order-summery .project .proj-icon {
    vertical-align: middle;
    margin-right: 6px
}

.mall-container .order-summery .contact {
    margin-bottom: 12px
}

.mall-container .order-summery .contact .contact-phone {
    margin-left: 12px
}

.mall-container .order-summery .agreement {
    margin-bottom: 28px
}

.mall-container .order-summery .agreement a {
    color: #1cbcb4
}

.mall-container .order-summery .button-wrap {
    font-size: 0
}

.mall-container .order-summery .button-wrap .ui-button {
    margin-left: 12px
}

.mall-container .order-summery .orig-price, .mall-container .order-summery .redeem-price {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px
}

.mall-container .order-summery .orig-price .cost, .mall-container .order-summery .redeem-price .cost {
    display: inline-block;
    width: 220px
}

.all-thead {
    background-color: #f9f9f9;
    color: #878787;
    font-size: 0
}

.all-thead span {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 32px;
    text-align: center
}

.col-log {
    width: 275px
}

.col-address {
    width: 222px
}

.col-date {
    width: 135px
}

.col-price {
    width: 169px
}

.col-service-cont {
    width: 402px
}

.col-user-info {
    width: 210px
}

.col-order-price {
    width: 180px
}

.col-order-cont {
    width: 300px
}

.col-vender-name {
    width: 156px
}

.col-order-code {
    width: 180px
}

.col-project-name {
    width: 312px
}

.col-contact-name {
    width: 162px
}

.col-contact-phone {
    width: 150px
}

.col-service-region {
    width: 156px
}

.col-service-val {
    width: 120px
}

.col-vender-info {
    width: 174px
}

.col-order-status {
    width: 138px
}

.reject {
    color: #f4615c
}

.prepare {
    color: #878787
}

.done {
    color: #9e9e9e
}

.table-mall {
    margin-top: 16px
}

.table-mall td {
    border: 1px solid #ededed;
    font-size: 12px;
    line-height: 20px
}

.table-mall .log {
    font-size: 16px;
    line-height: 28px
}

.table-mall .status {
    font-size: 14px;
    line-height: 24px
}

.table-mall .lite-head {
    font-size: 12px;
    line-height: 20px;
    color: #9e9e9e;
    background-color: #f9f9f9
}

.table-mall .lite-head td {
    padding: 6px 20px;
    border: none
}

.table-mall .ui-button {
    margin-top: 5px;
    margin-bottom: 5px
}

.table-mall .code {
    font-size: 14px;
    line-height: 24px;
    color: #878787
}

.table-mall .cross {
    text-decoration: line-through
}

.table-mall .time-left {
    color: #ef6512;
    margin-left: 6px
}

.table-mall .order-link {
    display: inline-block;
    padding-top: 8px
}

.mall-tips {
    color: #9e9e9e;
    margin-bottom: 19px
}

.ico-mall-tips {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: 0 -26px
}

.mall-warn {
    border: 1px solid #f5e0a9;
    background: #fffdf1;
    color: #ef6512;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 15px;
    position: relative;
    margin-bottom: 8px
}

.mall-warn a {
    color: #1cbcb4;
    margin-left: 28px
}

.weak {
    color: #878787
}

.table-order th {
    font-size: 12px;
    line-height: 28px;
    padding: 8px 14px
}

.table-order td {
    font-size: 12px;
    padding: 18px
}

.table-order .col-order-status {
    width: auto
}

.table-order .proj-icon {
    vertical-align: top;
    margin: 5px 7px 0 0
}

.table-order .lite-tit {
    margin-right: 8px
}

.table-order .primary {
    font-size: 16px;
    line-height: 28px;
    color: #323232
}

.table-order .primary-weak {
    font-size: 14px;
    line-height: 24px;
    color: #878787
}

.table-order .primary-weak a {
    color: #323232
}

.table-order .primary-weak a:hover {
    color: #1cbcb4
}

.icon-qq:before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 17px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -72px 0;
    vertical-align: text-bottom;
    margin-right: 8px
}

.icon-pin:before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: 0 -67px;
    vertical-align: text-bottom;
    margin-right: 8px
}

.icon-grantee:before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -24px 0;
    vertical-align: text-bottom;
    margin-left: 5px
}

.icon-receipt:before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -48px 0;
    vertical-align: text-bottom;
    margin-left: 5px
}

.table-customer-order table tr {
    cursor: default
}

.table-customer-order p {
    font-size: 14px;
    line-height: 24px
}

.table-customer-order .proj-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 0
}

.table-customer-order .col-service-cont {
    width: 312px
}

.table-customer-order .receipt {
    margin-left: 18px
}

.table-customer-order .col-deal-service-cont {
    width: 390px
}

.step {
    line-height: 58px;
    border-bottom: 1px solid #ededed;
    padding: 0 20px;
    color: #878787
}

.step .step-name {
    margin-left: 12px
}

.step .arrow {
    margin: 0 18px;
    color: #9e9e9e
}

.verify-result {
    padding: 30px 20px
}

.verify-form {
    text-align: center;
    padding: 65px 0;
    font-size: 16px
}

.verify-form .formbox {
    text-align: left;
    padding-left: 204px
}

.verify-form .ui-input {
    margin-left: 24px;
    width: 328px
}

.verify-form .ui-button {
    margin-top: 50px
}

.checkbox-insurance .ui-checkbox-text {
    font-size: 16px
}

.checkbox-insurance .ui-checkbox {
    margin: 4px 0 0 9px
}

.insurance-cont, .insurance-info {
    font-size: 14px;
    width: auto;
    margin: 10px 0 0 36px;
    padding: 16px
}

.insurance-cont .mb, .insurance-info .mb {
    margin-bottom: 10px
}

.insurance-cont {
    color: #878787
}

.insurance-info {
    margin-top: 0
}

.insurance-info .info-tit {
    margin-right: 12px
}

.insurance-info .price {
    color: #ef6512
}

.insurance-info .tips {
    color: #9e9e9e
}

.table-address {
    display: inline-block;
    vertical-align: top;
    width: 880px
}

.table-address .col-address {
    width: 400px
}

.table-address .col-date {
    width: 128px
}

.table-address .col-price {
    width: 157px
}

.table-address td {
    border: 1px solid #e2e2e2;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative
}

.table-address .price {
    width: 95px;
    margin-right: 9px
}

.table-address .opt {
    margin: 0 8px 0 0
}

.table-address .all-address {
    display: inline-block;
    vertical-align: top;
    max-width: 340px;
    margin-right: 5px
}

.table-address .select {
    width: 112px;
    min-width: 50px \9;
    padding-right: 5px \9
}

.table-address .input-tips {
    position: absolute;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0;
    right: -113px
}

.address-layer {
    position: absolute;
    background: #fff;
    border: 1px solid #e2e2e2;
    width: 900px;
    z-index: 100;
    display: none
}

.address-layer .row {
    border-bottom: 1px solid #ededed;
    padding: 8px 6px 0
}

.address-layer .col {
    display: inline-block;
    vertical-align: top;
    min-width: 139px;
    padding-bottom: 8px
}

.address-layer .btn-wrap {
    text-align: right;
    padding: 13px 15px
}

.address-layer .btn-wrap .ui-button {
    margin: 0 4px
}

.discount {
    margin-top: 10px
}

.discount .ui-input {
    margin-left: 10px
}

.ui-button-add-address {
    margin: 32px 0 0
}

.sort-opt {
    position: relative;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    background: #f9f9f9
}

.sort-opt .opt {
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
    padding: 0 17px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    margin-left: -1px;
    color: #878787
}

.sort-opt .opt:hover {
    text-decoration: none
}

.sort-opt .opt.cur {
    background: #fff;
    color: #1cbcb4
}

.sort-opt .sortby {
    display: inline-block;
    vertical-align: top;
    width: 9px;
    height: 13px;
    margin: 12px 0 0 9px
}

.sort-opt .sortby.des {
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -72px -21px
}

.sort-opt .sortby.asc {
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -72px -38px
}

.sort-opt .address-info {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    color: #878787
}

.sort-opt .address-info .item {
    padding: 0 16px;
    line-height: 38px
}

.sort-opt .address-info .line {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 23px;
    background: #ededed;
    margin: 8px 0 0
}

.sort-opt .address-info .recommend .ui-checkbox {
    margin-top: 11px
}

.sort-opt .address-info .choose-address {
    padding: 6px 15px
}

.sort-opt .address-info .choose-address:before {
    background: #f8f8f8
}

.sort-opt .address-info .choose-address:after {
    background: #f8f8f8;
    right: 1px
}

.sort-opt .address-info .choose-address .ui-address-tri {
    margin-top: 2px
}

.sort-opt .address-info .choose-address .ui-checkbox-text {
    line-height: 26px;
    margin-left: 0
}

.sort-opt .address-info .choose-address .ui-address-layer {
    width: 375px;
    text-align: left;
    top: 37px;
    background: #f8f8f8;
    padding-bottom: 0
}

.sort-opt .address-info .choose-address .ui-address-layer .mod-tab-panel {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px
}

.sort-opt .address-info .choose-address .ui-address-layer .tab-item {
    border-top-color: #f8f8f8
}

.sort-opt .address-info .choose-address .ui-address-layer .tab-item.cur {
    border-top-color: #e2e2e2
}

.sort-opt .address-info .choose-address .ui-address-layer .item-in {
    line-height: 26px;
    padding: 0 20px
}

.sort-opt .address-info .choose-address .ui-address-layer .mod-tab-content {
    background: #fff;
    padding: 6px 0 6px 13px
}

.sort-opt .address-info .choose-address .ui-address-layer .address-item {
    float: left;
    width: 70px;
    margin: 6px 0;
    color: #323232
}

.sort-opt .address-info .choose-address .ui-address-layer .address-item span {
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    padding: 0 6px;
    border: 1px solid #fff;
    cursor: pointer
}

.sort-opt .address-info .choose-address .ui-address-layer .address-item.checked span {
    border-color: #1cbcb4;
    color: #1cbcb4
}

.table-service-list {
    margin-top: 28px
}

.table-service-list table td {
    color: #878787
}

.table-service-list .col-service-cont {
    width: 420px
}

.table-service-list .col-address {
    width: 124px
}

.table-service-list .col-provider {
    width: 180px
}

.table-service-list .col-price {
    width: auto
}

.table-service-list .service-cont {
    color: #323232;
    font-size: 16px
}

.table-service-list .price {
    color: #ef6512;
    font-size: 18px
}

.table-service-list .tag-recommend {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px
}

.table-service-list .tag-recommend:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 22px;
    height: 13px;
    margin: 5px 5px 0 0;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: -27px -50px
}

.table-service-list .tag-discount {
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    padding: 0 6px;
    background: #ef6512;
    margin-top: 1px
}

.customer-main {
    margin-top: 40px
}

.customer-main .back-btn-wrap {
    text-align: center
}

.customer-main .page-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px
}

.customer-main .ui-radio-wrap {
    margin-bottom: 12px
}

.app-management-center {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    margin-top: 12px
}

.app-management-center a {
    display: block;
    line-height: 62px;
    position: relative;
    padding-left: 51px;
    color: #323232
}

.app-management-center a:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 22px;
    left: 18px;
    top: 50%;
    margin-top: -11px;
    background-image: url(../images/sprite-ee7e6cfe35.order.mall.png);
    background-position: 0 0
}

.app-management-center a:hover {
    text-decoration: none;
    background-color: #f8f8f8
}

.row-consult-qq .form-col {
    display: inline-block
}

.row-consult-qq .op-col {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #1cbcb4
}

.mall-container .layout:after, .mall-container .layout:before {
    content: '';
    display: table;
    font: 0/0 a
}

.mall-container .layout:after {
    clear: both
}

.table-address .all-address, .ui-paycard .ui-paycard-val {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: normal
}

.mall-container .customer-order-content .contact-box .item .info, .table-mall .code, .ui-paycard .ui-paycard-val {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal
}

.mod-white-box {
    padding: 24px;
    margin-bottom: 28px
}

.title-18px {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px
}

.payment-content-box .info-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px
}

.payment-content-box .info-item .item-title {
    display: inline-block;
    vertical-align: top;
    width: 78px
}

.payment-content-box .payment-mg-bot-32px {
    margin-bottom: 32px
}

.payment-content-box .payment-mg-left-24px {
    margin-left: 24px
}

.payment-content-box .payment-cx-order {
    color: #1cbcb4
}

.payment-content-box .contact-serv a {
    color: #1cbcb4
}

.payment-content-box .payment-contact-list .contact-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px
}

.payment-content-box .payment-contact-list .contact-item a {
    color: #1cbcb4
}

.payment-content-box .payment-contact-list .contact-item .title {
    display: inline-block;
    vertical-align: top;
    width: 72px;
    color: #878787
}

.payment-content-box .tenpay-code {
    margin-left: 24px
}

.payment-content-box a {
    color: #1cbcb4
}

.message-wrap {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px
}

.message-wrap .payment-msg-title {
    margin: 12px 0
}

.redeem-wrap {
    margin-top: 20px
}

.redeem-wrap .red-redeem-cb {
    margin-top: 12px
}

.redeem-wrap .red-redeem {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-left: 12px;
    line-height: 20px
}

.redeem-wrap .red-redeem:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 13px;
    background-image: url('../images/red-redeem.png');
    background-repeat: no-repeat;
    margin: 3px 6px 0 0
}

.redeem-wrap .red-redeem-tips {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #f37777
}

.payment-rating {
    line-height: 24px;
    margin-bottom: 18px
}

.payment-rating-concl, .payment-rating-title, .payment-rating-wrap {
    display: inline-block;
    vertical-align: top
}

.payment-rating-title {
    margin-right: 24px
}

.table-payment-b .col-service-cont {
    width: 345px
}

.table-payment-b .col-region {
    width: 115px
}

.table-payment-b .col-service-period {
    width: 115px
}

.table-payment-b .col-price {
    width: 115px
}

.table-payment-b .col-quantity {
    width: 57.5px
}

.table-payment-b .col-redeem {
    width: 115px
}

.table-payment-b .col-buyer-info {
    width: 172.5px
}

.table-payment-b .col-actual-price {
    width: 115px
}

.table-payment-b th {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 6px 0
}

.table-payment-b tr {
    text-align: center
}

.table-payment-b .icon-grantee, .table-payment-b .icon-receipt {
    display: inline-block;
    padding-top: 6px
}

.table-payment-b .col-text-left {
    text-align: left;
    padding: 14px
}

.table-submit-c .col-service-cont {
    width: 230px
}

.table-submit-c .col-vender-name {
    width: 172.5px
}

.table-submit-c .col-service-region {
    width: 172.5px
}

.table-submit-c .col-service-period {
    width: 115px
}

.table-submit-c .col-price {
    width: 115px
}

.table-submit-c .col-quantity {
    width: 230px
}

.table-submit-c .col-total-price {
    width: 115px
}

.table-submit-c th {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 6px 0
}

.table-submit-c tr {
    text-align: center
}

.table-submit-c .icon-grantee, .table-submit-c .icon-receipt {
    display: inline-block;
    padding-top: 6px
}

.table-submit-c .col-text-left {
    text-align: left;
    padding: 14px
}

.table-submit-c .err-tips {
    margin: 0;
    line-height: 18px;
    vertical-align: middle;
    padding-top: 12px
}

.table-payment-c .col-service-cont {
    width: 230px
}

.table-payment-c .col-vender-info {
    width: 115px
}

.table-payment-c .col-region {
    width: 115px
}

.table-payment-c .col-service-period {
    width: 115px
}

.table-payment-c .col-price {
    width: 115px
}

.table-payment-c .col-quantity {
    width: 57.5px
}

.table-payment-c .col-redeem {
    width: 115px
}

.table-payment-c .col-buyer-info {
    width: 172.5px
}

.table-payment-c .col-actual-price {
    width: 115px
}

.table-payment-c tr {
    text-align: center
}

.table-payment-c .icon-grantee, .table-payment-c .icon-receipt {
    display: inline-block;
    padding-top: 6px
}

.table-payment-c .col-text-left {
    text-align: left;
    padding: 14px
}

.table-order-c .col-service-content {
    width: 199.08px
}

.table-order-c .col-price {
    width: 104.28px
}

.table-order-c .col-quantity {
    width: 56.88px
}

.table-order-c .col-redeem {
    width: 142.2px
}

.table-order-c .col-actual-price {
    width: 142.2px
}

.table-order-c .col-status {
    width: 132.72px
}

.table-order-c .col-opt {
    width: 170.64px
}

.table-order-c tr {
    text-align: center
}

.table-order-c .lite-head {
    text-align: left
}

.table-order-c .cell-name, .table-order-c .cell-price, .table-order-c .cell-quantity {
    border-right: none;
    border-left: none
}

.table-order-c .cell-name {
    text-align: left;
    padding: 20px
}

.table-order-b .col-service-content {
    width: 170.64px
}

.table-order-b .col-price {
    width: 151.68px
}

.table-order-b .col-buyer-info {
    width: 123.24px
}

.table-order-b .col-redeem {
    width: 113.76px
}

.table-order-b .col-actual-price {
    width: 151.68px
}

.table-order-b .col-status {
    width: 123.24px
}

.table-order-b .col-opt {
    width: 113.76px
}

.table-order td {
    padding: 14px 0
}

.table-order .primary {
    font-size: 12px;
    line-height: 18px;
    color: #323232
}

.table-order .primary a {
    color: #323232
}

.table-order .primary a:hover {
    color: #1cbcb4
}

.table-order .primary-weak {
    font-size: 12px;
    line-height: 18px;
    color: #878787
}

.table-order .weak {
    font-size: 12px;
    line-height: 18px;
    color: #878787
}

.table-order a {
    color: #323232
}

.table-order a:hover {
    color: #1cbcb4
}

.table-order a.qq-service {
    color: #1cbcb4;
    display: inline-block;
    margin-top: 4px
}

.table-order a.act-link {
    color: #1cbcb4
}

.table-order .old-price {
    text-decoration: line-through
}

.table-order .order-number {
    margin-left: 28px
}

.table-order .red-redeem:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 13px;
    background-image: url('../images/red-redeem.png');
    background-repeat: no-repeat;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px
}

.table-order .primary-sm {
    font-size: 12px;
    line-height: 18px
}

.order-center-box {
    font-size: 14px;
    line-height: 24px
}

.order-center-box .mod-white-box {
    box-sizing: border-box;
    padding: 20px 20px 32px
}

.order-center-box .title {
    font-size: 18px;
    color: #323232
}

.order-center-box strong {
    color: #ef6512;
    font-weight: 400
}

.order-center-box a {
    color: #1cbcb4
}

.order-center-box .btn-wrap a {
    margin-right: 24px;
    line-height: 40px
}

.order-center-box .cft-order-number {
    margin-left: 22px
}

.order-center-box .order-number {
    color: #878787
}

.ui-table-receive-order {
    margin-top: 10px;
    margin-bottom: 10px
}

.mod-sub-form {
    width: 870px;
    padding: 20px 20px 0;
    margin: 0
}

.sub-form-row {
    padding-bottom: 32px
}

.mg-bot-32px {
    margin-bottom: 32px
}

.mg-left-24px {
    margin-left: 24px
}

.dialog-wx-qrcode {
    display: none
}

.dialog-wx-qrcode .ui-dialog {
    width: 550px;
    margin: 0;
    text-align: center
}

.dialog-wx-qrcode .ui-dialog-body {
    padding-bottom: 32px
}

.dialog-wx-qrcode .ui-dialog-alert {
    padding-top: 20px
}

.dialog-wx-qrcode .ui-dialog-title {
    text-align: left
}

.dialog-wx-qrcode .qrcode {
    padding: 10px;
    border: 1px solid #000;
    margin: 5px 0;
    position: relative;
    display: inline-block
}

.dialog-wx-qrcode .qrcode .refresh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none
}

.dialog-wx-qrcode .qrcode .refresh:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"
}

.dialog-wx-qrcode .qrcode .refresh a {
    background-color: #fff;
    padding: 10px 0;
    width: 90%;
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -21px;
    color: #333
}

.dialog-wx-qrcode .red {
    color: #f4615c
}

.dialog-wx-qrcode em {
    font-style: normal
}

.dialog-wx-qrcode .tip-2 {
    display: none
}

.dialog-wx-qrcode.timeover .tip-1 {
    display: none
}

.dialog-wx-qrcode.timeover .tip-2 {
    display: block
}

.dialog-wx-qrcode.timeover .qrcode .refresh {
    display: block
}

@media \0screen {
    .dialog-wx-qrcode .qrcode .refresh:before {
        background: none;
        opacity: 1;
        filter: alpha(opacity=10000);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=10000)";
        background-image: url('../other/BuoWFwy9xEFONS1wW0JERERERERERERERERERERERERERERERERERERERERERERERETkjyfAAEgFAP0qzZC1AAAAAElFTkSuQmCC');
        background-repeat: no-repeat
    }
}

.other-pay-method {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    margin-top: 10px
}

.other-pay-method a {
    color: #878787
}

.other-pay-method a:hover {
    color: #1cbcb4
}

.mod-orderstep {
    font-size: 0;
    display: block;
    width: 100%;
    margin: 28px 0
}

.mod-orderstep .mod-orderstep-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1;
    width: 160px;
    margin-left: 184.33333px
}

.mod-orderstep .mod-orderstep-item:first-child {
    margin-left: 0
}

.mod-orderstep .mod-orderstep-item .mod-orderstep-count {
    font-size: 14px;
    line-height: 29px;
    color: #fff;
    height: 29px;
    background-position: 50%;
    background-image: url('../images/step-num.png');
    background-repeat: no-repeat;
    position: relative;
    z-index: 1
}

.mod-orderstep .mod-orderstep-item.mod-orderstep-cur .mod-orderstep-title, .mod-orderstep .mod-orderstep-item.mod-orderstep-done .mod-orderstep-title {
    color: #1cbcb4
}

.mod-orderstep .mod-orderstep-item i {
    position: absolute;
    content: "";
    width: 350px;
    height: 5px;
    background: #ccc;
    top: 12px;
    left: 50%;
    z-index: -1
}

.mod-orderstep .mod-orderstep-item.mod-orderstep-item-last i, .mod-orderstep .mod-orderstep-item:last-child i {
    display: none
}

.mod-orderstep .mod-orderstep-item.mod-orderstep-done .mod-orderstep-count {
    font-size: 0;
    background-image: url('../other/y2wHSoAU8Arzv0zeEvUZSb5rhaeOc8wAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.mod-orderstep .mod-orderstep-item.mod-orderstep-done i {
    background: #1cbcb4
}

.mod-orderstep .mod-orderstep-item.mod-orderstep-cur .mod-orderstep-count {
    background-image: url('../images/step-num-cur.png');
    background-repeat: no-repeat
}

.mod-orderstep .mod-orderstep-item .mod-orderstep-title {
    font-size: 16px;
    line-height: 20px;
    color: #9e9e9e;
    margin-bottom: 8px
}

.mod-orderstep .mod-orderstep-item .mod-orderstep-time {
    font-size: 12px;
    line-height: 20px;
    color: #9e9e9e;
    margin-bottom: 4px
}

.mod-orderstep.mod-orderstep-5step .mod-orderstep-item {
    margin-left: 98.25px
}

.mod-orderstep.mod-orderstep-5step .mod-orderstep-item:first-child {
    margin-left: 0
}

.mod-orderstep.mod-orderstep-5step .mod-orderstep-done i {
    width: 262.5px
}

.mod-orderstep.mod-orderstep-3step .mod-orderstep-item {
    margin-left: 356.5px
}

.mod-orderstep.mod-orderstep-3step .mod-orderstep-item:first-child {
    margin-left: 0
}

.mod-orderstep.mod-orderstep-3step .mod-orderstep-done i {
    width: 525px
}

.mod-white-box {
    background: #fff;
    border: 1px solid #e2e2e2
}

.pay-card-wrap {
    overflow: hidden
}

.mod-quantity {
    font-size: 0
}

.mod-quantity-btn {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background: #ededed;
    color: #323232;
    border: 1px solid #d5d5d5;
    font-size: 20px;
    margin: 0 -1px;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    user-select-none: none
}

.mod-quantity-btn.inactived {
    color: #ccc
}

.mod-quantity input {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    width: 66px;
    outline: 0;
    border: 1px solid #d5d5d5;
    font-size: 12px;
    text-align: center;
    line-height: 30px
}

.default-input-width.ui-textarea {
    width: 456px
}

.default-input-width {
    width: 450px
}

.ui-toast-inpage {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px
}

.ui-toast-inner {
    display: inline-block;
    vertical-align: top;
    height: 68px;
    line-height: 68px;
    background: #fffbea;
    border: 1px solid #d7caa7;
    padding: 0 28px;
    position: relative;
    color: #ba9c6d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.ui-toast-block {
    display: block;
    height: 68px;
    line-height: 68px;
    background: #fffbea;
    border: 1px solid #d7caa7;
    padding: 0 28px;
    position: relative;
    color: #ba9c6d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.ico-toast {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    margin: 20px 10px 0 0
}

.ico-toast.warn-bw {
    background-image: url('../other/0SFUf83WzJ5eXz1MVQAAAAASUVORK5CYII=');
    background-repeat: no-repeat
}

.mod-form .input-tips {
    display: none
}

.mod-form .ui-button {
    margin-right: 12px
}

.mod-form-special {
    width: 870px;
    margin: 0;
    background: #f8f8f8
}

.mod-form .caption-special {
    font-size: 16px;
    color: #b7b7b7;
    margin-bottom: 32px
}

.count-tips {
    margin: 0;
    line-height: 18px;
    vertical-align: middle;
    padding-top: 12px;
    color: #f4615c
}

.ui-dialog .ui-dialog-body {
    width: 700px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 15px 0 25px;
    margin: 10px 0 20px
}