.ui-address {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px;
    cursor: pointer;
    position: relative;
    border: 1px solid #e2e2e2;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ui-address:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 2
}

.ui-address.ui-address-close .ui-address-tri .ui-address-tri-icon {
    content: "";
    height: 0;
    width: 0;
    border-top: 6px solid #909090;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.ui-address.ui-address-open {
    z-index: 5
}

.ui-address.ui-address-open .ui-address-tri .ui-address-tri-icon {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 6px solid #909090;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent
}

.ui-address.ui-address-open .ui-address-layer {
    display: block
}

.ui-address.ui-address-open:before {
    border-bottom: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.ui-address.ui-address-open:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -4px;
    height: 9px;
    background: #fff;
    z-index: 2;
    width: 100%
}

.ui-address-count {
    color: #ef6512
}

.ui-checkbox-wrap {
    margin: 0;
    position: relative;
    z-index: 3
}

.ui-checkbox-wrap label {
    cursor: pointer
}

.ui-address-tri {
    display: inline-block;
    vertical-align: top;
    padding: 10px 8px 7px 7px;
    height: 6px;
    overflow: hidden;
    margin-right: -8px
}

.ui-address-tri .ui-address-tri-icon {
    display: inline-block;
    vertical-align: top
}

.ui-address-layer {
    position: absolute;
    width: 318px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 12px 0;
    left: -1px;
    top: 32px;
    cursor: default;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    display: none
}

.ui-address-layer .ui-checkbox-wrap {
    width: 105px;
    box-sizing: border-box;
    padding: 9px 0 9px 20px
}

.ui-address-layer .mod-tab-panel {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px
}

.ui-address-layer .item-in {
    line-height: 26px;
    padding: 0 20px
}

.ui-address-layer .mod-tab-content {
    background: #fff;
    padding: 8px 0 8px 12px
}

.ui-address-layer .address-item {
    float: left;
    width: 70px;
    margin: 6px 0;
    color: #323232;
    font-size: 14px;
    text-align: center
}

.ui-address-layer .address-item span {
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    padding: 0 6px;
    border: 1px solid #fff;
    cursor: pointer
}

.ui-address-layer .address-item.checked span {
    border-color: #1cbcb4;
    color: #1cbcb4
}

.service-detail-banner .rightside-content .comp-represt .comp-info .comp-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: normal
}

.service-detail-banner .leftside-content .top-wrap .service-title, .service-detail-banner .rightside-content .mod-tab-content .tab-content, .service-detail-body .leftside-content .service-detail-cont .content {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal
}

.ui-tag {
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
    border: 1px solid #e2e2e2;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 14px
}

.ui-tag:hover {
    border-color: #c9c9c9
}

.ui-tag.checked {
    border-color: #1cbcb4
}

.ui-tag.checked:before {
    position: absolute;
    content: '';
    border-width: 12px;
    border-style: dashed solid solid dashed;
    border-color: transparent #1cbcb4 #1cbcb4 transparent;
    bottom: 0;
    right: 0
}

.ui-tag.checked:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 11px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAMAAAB4W0xQAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAzUExURQAAAP///////////////////////////////////////////////////////////////7eV4oIAAAAQdFJOUwDC5AvOGyXaHBKgvuPbDCP5fRosAAAAPklEQVQI113OyREAIAgDQPDEm/6rVT8a5bcTmEB0J3lCuSYojfJLssWsKFvYDFW5w10wykunZBm0HZ8HxtEEpIkCBz+lxiEAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    bottom: 2px;
    right: 0
}

.ui-tag.mr {
    margin-right: 20px
}

.ui-button {
    padding: 0
}

.crumb-name {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: normal
}

.mod-white-box {
    background: #fff;
    border: 1px solid #e3e3e3
}

.mod-head.mod-head-small {
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px
}

.ui-tag.mr {
    margin-right: 16px
}

.mod-head:first-child {
    margin-top: 42px
}

.mod-head {
    position: relative;
    padding-left: 12px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 24px
}

.mod-head.mod-head-small:before {
    height: 20px
}

.mod-head:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 28px;
    background-image: url('../images/mod-head-s.png');
    background-repeat: no-repeat;
    top: 4px;
    left: 0
}

.mod-title-small {
    font-size: 20px
}

.mod-emph {
    color: #ef6512
}

.mod-crumb {
    width: 1200px;
    font-size: 14px;
    line-height: 24px;
    margin: 32px auto 16px
}

.mod-crumb a {
    color: #323232
}

.mod-tips {
    width: 1200px;
    border: 1px solid #f5e0a9;
    background: #fffdf1;
    color: #ef6512;
    font-size: 14px;
    padding: 4px 15px;
    position: relative;
    margin: 0 auto;
    text-align: center
}

.mod-tips {
    width: 1200px;
    border: 1px solid #f5e0a9;
    background: #fffdf1;
    color: #ef6512;
    font-size: 14px;
    padding: 4px 15px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center
}

.mod-tips .close {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURQAAAMXFxW+A+FAAAAABdFJOUwBA5thmAAAAH0lEQVQI12M4cIDh4QGG4gYGewYGOTACMoBcoOCBAwCFzQjjQ3G1vQAAAABJRU5ErkJggg==') no-repeat;
    right: 10px;
    top: 10px;
    cursor: pointer
}

.mod-tips.mt {
    margin-top: 20px
}

.service-detail-banner {
    border: 1px solid #e2e2e2;
    background: #fff url(../images/service-detail-banner-bg.png) no-repeat bottom;
    font-size: 0;
    margin-bottom: 24px
}

.service-detail-banner .leftside-content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 916px;
    padding: 0 26px 26px;
    border-right: 1px solid #e2e2e2
}

.service-detail-banner .leftside-content .top-wrap {
    font-size: 14px
}

.service-detail-banner .leftside-content .top-wrap .discount {
    color: #ef6512
}

.service-detail-banner .leftside-content .top-wrap .service-title, .service-detail-banner .leftside-content .top-wrap .special-price {
    font-size: 28px
}

.service-detail-banner .leftside-content .top-wrap .service-title {
    line-height: 36px;
    padding-top: 20px;
    margin-bottom: 8px;
    width: 100%
}

.service-detail-banner .leftside-content .top-wrap .special-price {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 6px
}

.service-detail-banner .leftside-content .top-wrap .orig-price {
    display: inline-block;
    vertical-align: baseline;
    color: #878787;
    text-decoration: line-through
}

.service-detail-banner .leftside-content .top-wrap .promo-msg {
    margin-bottom: 20px
}

.service-detail-banner .leftside-content .top-wrap .promo-msg a {
    color: #1cbcb4
}

.service-detail-banner .leftside-content .bottom-wrap {
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest {
    margin-bottom: 32px
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest .rest-title, .service-detail-banner .leftside-content .bottom-wrap .service-rest > div {
    display: inline-block;
    vertical-align: baseline
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest .rest-title {
    line-height: 40px;
    margin-right: 12px
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest .service-region {
    margin-right: 120px
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest .ui-address {
    vertical-align: baseline
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest .ui-address-layer {
    text-align: left;
    top: 37px;
    background: #f8f8f8;
    padding-bottom: 0
}

.service-detail-banner .leftside-content .bottom-wrap .service-rest .ui-address-layer .item-in {
    line-height: 26px;
    padding: 0 20px
}

.service-detail-banner .leftside-content .bottom-wrap .service-grantee {
    color: #878787;
    padding-top: 54px
}

.service-detail-banner .leftside-content .bottom-wrap .service-grantee > div {
    display: inline-block;
    vertical-align: baseline
}

.service-detail-banner .leftside-content .bottom-wrap .service-grantee .grantee-title {
    margin-right: 18px
}

.service-detail-banner .leftside-content .bottom-wrap .service-grantee .grantee-item {
    margin-right: 24px
}

.service-detail-banner .leftside-content .bottom-wrap .service-grantee .grantee-item.ontime-grantee:before {
    width: 24px;
    height: 24px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -384px -120px
}

.service-detail-banner .leftside-content .bottom-wrap .service-grantee .grantee-item.receipt-grantee:before {
    width: 24px;
    height: 24px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -408px -120px
}

.service-detail-banner .rightside-content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    border-left: 1px solid #e2e2e2;
    margin-left: -1px
}

.service-detail-banner .rightside-content .comp-represt {
    padding: 18px 0 18px 18px
}

.service-detail-banner .rightside-content .comp-represt .logo-wrap {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px
}

.service-detail-banner .rightside-content .comp-represt .logo-wrap img {
    display: block;
    width: 100%;
    height: 100%
}

.service-detail-banner .rightside-content .comp-represt .comp-info {
    display: inline-block;
    vertical-align: top;
    color: #878787;
    font-size: 14px;
    margin-left: 12px;
    width: 168px
}

.service-detail-banner .rightside-content .comp-represt .comp-info .comp-name {
    font-size: 18px;
    line-height: 20px;
    color: #323232;
    position: relative;
    margin-bottom: 8px
}

.service-detail-banner .rightside-content .comp-represt .comp-info .comp-name a {
    color: #323232
}

.service-detail-banner .rightside-content .comp-represt .comp-info .comp-name a:hover {
    color: #1cbcb4
}

.service-detail-banner .rightside-content .comp-represt .comp-info .comp-name:hover {
    color: #1cbcb4
}

.service-detail-banner .rightside-content .comp-represt .comp-info .auth:before {
    width: 22px;
    height: 13px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAANCAMAAACae25RAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB7UExURQAAABy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tBy8tKIV3ksAAAAodFJOUwB9CggBBbv+A/mus3EGIg5nqoPDGJSi/JlfVXgCpuRbl/FNkEGI+IZIsmnkAAAAaUlEQVQY02PQQAcMYACl4ICLgUFIVARDmIOBUUOYHySMqp9Hg40J0xABdm5mFLNZQYQkuyAv1EqIfhU5aQYGKXExDlSXsMqyyytxSsigO5BDgVNNmYUPLgxzBouqOgODInbvaOAXxhomAEjXDd1fT+83AAAAAElFTkSuQmCC');
    background-repeat: no-repeat
}

.service-detail-banner .rightside-content .comp-represt .comp-info .deal-amount {
    margin-bottom: 8px
}

.service-detail-banner .rightside-content .comp-rating-wrap {
    box-sizing: border-box;
    padding: 0 18px
}

.service-detail-banner .rightside-content .comp-rating-wrap .comp-rating {
    font-size: 0;
    border-top: 1px dashed #e2e2e2;
    box-sizing: border-box;
    padding: 16px 0
}

.service-detail-banner .rightside-content .comp-rating-wrap .comp-rating-item {
    display: inline-block;
    padding: 0 12px;
    border-right: 1px solid #e2e2e2
}

.service-detail-banner .rightside-content .comp-rating-wrap .comp-rating-item:last-child {
    border-right: none
}

.service-detail-banner .rightside-content .comp-rating-wrap .comp-rating-score, .service-detail-banner .rightside-content .comp-rating-wrap .comp-rating-title {
    font-size: 14px;
    height: 20px
}

.service-detail-banner .rightside-content .mod-tab-panel {
    margin-right: -4px;
    font-size: 0
}

.service-detail-banner .rightside-content .mod-tab-panel .tab-item {
    font-size: 14px;
    margin: -1px auto -1px -2px
}

.service-detail-banner .rightside-content .mod-tab-panel .tab-item .item-in {
    padding: 0 19px
}

.service-detail-banner .rightside-content .mod-tab-content {
    font-size: 0
}

.service-detail-banner .rightside-content .mod-tab-content .tab-content {
    box-sizing: border-box;
    font-size: 14px;
    padding: 18px;
    height: 390px
}

.service-detail-banner .rightside-content .mod-tab-content .contact {
    padding-top: 20px
}

.service-detail-banner .rightside-content .mod-tab-content .contact .item {
    list-style-type: square;
    margin-left: 16px
}

.service-detail-banner .rightside-content .mod-tab-content .contact .item a {
    color: #1cbcb4
}

.service-detail-banner .rightside-content .mod-tab-content .contact .item a.contact-qq {
    padding-left: 12px
}

.service-detail-banner .rightside-content .mod-tab-content .contact .item a.contact-qq:before {
    width: 13px;
    height: 15px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAA3ElEQVQoz5XSvy4EURQH4G+m0aFjkxEiqo1WQj/lJArCNmQb3kIiCq8hIfGnoBrdPIGS7D7BVSkkVFQaExdZe/3Ke++Xc3LuyUQpmnoKB1jHDB5xjaNQVu/tuywCs7jDnN8ZYi2U1Qvk0cX5CABdXHyrVDR1FwPjsxzKatBWWkwAsBS3t5CIOjHqJ6IeZEVTdxB+DGVU3jCf4zARwASOc2wlgjabOab/iSZz7GHV+H8aYgX78RqdYucPdBbKapevjbjEdkJrV6Gseu3UatzjFc+4wQZO8PR5/oBb+AD2yC+v6sRLqwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat
}

.service-detail-body {
    margin-bottom: 80px
}

.service-detail-body .leftside-content {
    width: 890px;
    float: left
}

.service-detail-body .leftside-content .service-detail-cont {
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    background: #fff;
    width: 100%;
    padding: 24px;
    font-size: 0
}

.service-detail-body .leftside-content .service-detail-cont .decimal-list {
    margin-left: 16px
}

.service-detail-body .leftside-content .service-detail-cont .decimal-list > .item {
    list-style-type: decimal
}

.service-detail-body .leftside-content .service-detail-cont .service-detail-title {
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px
}

.service-detail-body .leftside-content .service-detail-cont .service-detail-wrap {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #878787;
    width: 100%;
    box-sizing: border-box;
    padding: 12px
}

.service-detail-body .leftside-content .service-detail-cont .bottom-wrap, .service-detail-body .leftside-content .service-detail-cont .top-wrap {
    margin-bottom: 36px
}

.service-detail-body .leftside-content .service-detail-cont .top-wrap {
    padding-top: 20px
}

.service-detail-body .leftside-content .service-detail-cont .notice {
    background-color: #f4f4f4;
    color: #878787;
    font-size: 12px;
    padding: 18px
}

.service-detail-body .leftside-content .service-detail-cont .notice .notice-title {
    font-size: 14px;
    margin-bottom: 10px
}

.service-detail-body .leftside-content .service-detail-cont .appendix {
    background-color: #f4f4f4;
    color: #878787;
    font-size: 14px;
    line-height: 20px;
    padding: 12px;
    margin-bottom: 20px
}

.service-detail-body .leftside-content .service-detail-cont .appendix div, .service-detail-body .leftside-content .service-detail-cont .appendix img {
    max-width: 100% !important
}

.service-detail-body .rightside-content {
    width: 280px;
    float: right
}

.service-detail-body .rightside-content .subscpt-step-cont {
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    background: #fff;
    width: 100%;
    padding: 36px 26px 0 24px
}

.service-detail-body .rightside-content .guart-wrap {
    padding: 32px 24px 0
}

.service-detail-body .rightside-content .guart-wrap .guart-list {
    font-size: 0
}

.service-detail-body .rightside-content .guart-wrap .guart-item {
    margin-bottom: 32px
}

.service-detail-body .rightside-content .guart-wrap .guart-item-wrap {
    display: inline-block;
    vertical-align: bottom
}

.service-detail-body .rightside-content .guart-wrap .guart-item-title {
    font-size: 16px;
    line-height: 24px;
    color: #323232
}

.service-detail-body .rightside-content .guart-wrap .guart-item-desc {
    font-size: 12px;
    line-height: 20px;
    color: #878787
}

.service-detail-body .rightside-content .guart-wrap .guart-item.guart-personal:before {
    display: inline-block;
    content: '';
    width: 56px;
    height: 49px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: 0 -148px;
    margin-right: 20px
}

.service-detail-body .rightside-content .guart-wrap .guart-item.guart-quality:before {
    display: inline-block;
    content: '';
    width: 47px;
    height: 55px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: 0 -201px;
    margin-right: 29px
}

.service-detail-body .rightside-content .guart-wrap .guart-item.guart-instant:before {
    display: inline-block;
    content: '';
    width: 43px;
    height: 47px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -113px -148px;
    margin-right: 30px
}

.service-detail-body .rightside-content .guart-wrap .guart-item.guart-service:before {
    display: inline-block;
    content: '';
    width: 49px;
    height: 49px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -60px -148px;
    margin-right: 25px
}

.price-board {
    width: 565px
}

.price-board-h {
    width: 100%;
    height: 24px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: 0 -92px;
    color: #fff;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative
}

.price-board-h:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 124px;
    height: 24px;
    margin-right: 23px
}

.price-board-h.promo-board-t1:before {
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: 0 -120px
}

.price-board-h.promo-board-t2:before {
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -128px -120px
}

.price-board-h.promo-board-t3:before {
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -256px -120px
}

.price-board-t {
    color: #fff100
}

.price-board-b {
    width: 100%;
    height: 88px;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: 0 0;
    box-sizing: border-box;
    padding: 0 25px;
    position: relative
}

.price-board-b.is-special {
    padding: 17px 25px 0
}

.price-board-b.is-normal {
    padding: 23px 25px 0
}

.price-board-p {
    font-size: 28px;
    margin: 0 9px 0 1em;
    color: #ef6512
}

.price-board-r {
    font-size: 14px;
    vertical-align: bottom
}

.price-board-r:before {
    position: relative;
    top: 1px
}

.price-board-opr {
    color: #878787;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 6px
}

.price-board-op {
    margin-left: 2em
}

.price-board-spr {
    line-height: 40px;
    color: #878787
}

.price-board-ln {
    position: absolute;
    right: 49px;
    top: 17px;
    color: #878787;
    line-height: 1
}

.price-board-ln:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../images/sprite-f51ed544ac.sku.detail.png);
    background-position: -432px -120px;
    right: -24px
}

.price-board-cr {
    border: 1px solid #ef6512;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 15px
}

.price-board .mod-red-redeem:before {
    vertical-align: middle;
    margin-top: -2px
}

.price-board .promo-red-link {
    display: inline;
    color: #ef6512;
    margin-left: 16px
}

.icon-at-front:before {
    display: inline-block;
    vertical-align: bottom;
    content: '';
    position: relative;
    margin-right: 4px
}

.price-board .mod-red-redeem {
    color: #ef6512;
    margin-left: 26px;
    line-height: 14px
}

.mod-red-redeem:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 13px;
    margin-right: 6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAABaElEQVQoka2TvU4bURCFv5l7917vsmYXm0gBolR5DJpIScEr0MJr8RwUFLSpkFKnAAmBgTg2xmsMRnsvxVpIiJ9EgVOOzvk0mqOR0eb6BrADrPD/6gFbMtpcP30j6AGo7wQCWFF7cYlMpq+6dFFfx9zMMP0rbJJYtDckxD/URU7sLoJpwu57jtsIhP4AXe4w21Vme1UDCBEZXKGjClNHTLfA2g9LaHuBWE2pxxPCrxPqzBE/L+G+VtQ/zxHvqIfHuG9d7vZmyPElZnKDpi20U6ALKZp6rHiHcQkxa6FlTry+JVTXxLWacHiE+fSFKFMkQhye4tdKOHdot0RTj3iHWAMiWABEkMQiiYXUo+2MMLhDSk8Y9tBOQRj/xpQOBhm6WjRe8/iWTy+rirQcRjLkx0dMEaDuY0oP+8vNvOWegID5Zs9JBDnI4SBH2gHG87C8XOpfOp9r/G82pXmF99CZAtvA2RtBJ8DWPTI3bCygC4N0AAAAAElFTkSuQmCC');
    background-repeat: no-repeat
}

.mod-tag-orange {
    background: #ef6512;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 4px
}
